{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="de">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{% block title %}Willkommen beim Reiseservice Schwerin{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/index.css' %}" media="screen">
    <link id="u-page-google-font" rel="stylesheet" href="{% static 'css/Startseite-fonts.css' %}">

    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/autor.js' %}" defer=""></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <meta name="theme-color" content="#1c4c79">
    {% block extra_head %}{% endblock %}
  </head>
  
  <body class="u-body u-clearfix u-xl-mode" data-lang="de">
    
    {% include "home/partials/_navigation.html" %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-palette-1-base u-footer" id="footer">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-container-layout u-container-layout-1">
                <p class="u-text u-text-1"><span style="font-weight: 700;"> Reiseservice Schwerin GmbH</span><br>
                Klöresgang 1, 19053 Schwerin</p>
            </div>
            </div>
    </footer>
  </body>
</html>