{% load staticfiles %}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="de-DE">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">

    <title>Service &amp; Hilfe</title>

    <link rel="stylesheet" href="{% static 'css/mmgd.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/Kontakt.css' %}" media="screen">

    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/mmgd.js' %}" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">

    <script type="application/ld+json">
      {
		    "@context": "http://schema.org",
		    "@type": "Organization",
		    "name": "Reiseservice Schwerin",
                    "url": "http://www.reiseservice-schwerin.de",
		    "logo": "{% static 'images/LogoRSS2021_LogoGold.png' %}",
		    "sameAs": [
				  "https://www.facebook.com/ReiseserviceSchwerin-2866443210034243",
				  "https://www.instagram.com/reiseserviceschwerin/"
        ]
      }
    </script>

    <meta name="theme-color" content="#01498d">
    <meta property="og:title" content="Service &amp; Hilfe">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">

  </head>

  <body class="u-body"><header class="u-clearfix u-header u-sticky u-white u-header" id="sec-00af"><div class="u-clearfix u-sheet u-valign-bottom-lg u-valign-bottom-xl u-sheet-1">
        <a href="neustart?version=nicepage" data-page-id="351830228" class="u-image u-logo u-image-1" data-image-width="1182" data-image-height="1182" title="Start">
          <img src="{% static 'images/LogoRSS2021_LogoGold.png' %}" class="u-logo-image u-logo-image-1">
        </a>
        <h3 class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-palette-1-base u-text-1">Telefon:&nbsp; <a class="nonblock u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="tel:0385 - 5910 333">0385 - 5910 333</a>
        </h3>
        <div class="u-hidden-xs u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" title="facebook" target="_blank" href="https://www.facebook.com/ReiseserviceSchwerin-2866443210034243"><span class="u-icon u-social-facebook u-social-icon u-text-palette-1-base"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efa4"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-efa4"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
          </a>
          <a class="u-social-url" title="instagram" target="_blank" href="https://www.instagram.com/reiseserviceschwerin/"><span class="u-icon u-social-icon u-social-instagram u-text-palette-1-base"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4d97"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-4d97"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
          </a>
        </div>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-offcanvas-shift u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-palette-1-base" href="#" style="padding: 8px; font-size: calc(1em + 16px);">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base" href="neustart?version=nicepage" style="padding: 10px 20px;">Start</a>
</li><li class="u-nav-item"><a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base" href="mehrtagesfahrten" style="padding: 10px 20px;">Mehrtagesfahrten</a>
</li><li class="u-nav-item"><a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base" href="tagesfahrten" style="padding: 10px 20px;">Tagesfahrten</a>
</li><li class="u-nav-item"><a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base" href="reiseberatung" style="padding: 10px 20px;">Reiseberatung</a>
</li><li class="u-nav-item"><a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base" href="kontakt" style="padding: 10px 20px;">Service &amp; Kontakt</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-container-style u-expanded-width-md u-expanded-width-sm u-inner-container-layout u-opacity u-opacity-95 u-palette-1-base u-sidenav u-sidenav-1" data-offcanvas-width="276">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-nav u-popupmenu-items u-spacing-32 u-text-active-palette-3-base u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Start.html" style="padding: 10px 20px;">Start</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="mehrtagesfahrten" style="padding: 10px 20px;">Mehrtagesfahrten</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="tagesfahrten" style="padding: 10px 20px;">Tagesfahrten</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="reiseberatung" style="padding: 10px 20px;">Reiseberatung</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="kontakt" style="padding: 10px 20px;">Service &amp; Kontakt</a>
</li></ul>
              </div>
            </div>
            <div class="u-menu-overlay"></div>
          </div>
        </nav>
      </div><style class="u-sticky-style" data-style-id="1835">.u-sticky-fixed.u-sticky-1835:before, .u-body.u-sticky-fixed .u-sticky-1835:before {
borders: top right bottom left !important
}</style></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-9034">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-form u-form-1">
          <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="contact7" name="form">
            {% csrf_token %}
            <div class="u-form-group u-form-name u-form-group-1">
              <label for="name-6797" class="u-form-control-hidden u-label">Name</label>
              {{  form.name }}
              <!-- <input type="text" placeholder="Name" id="name-6797" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required=""> -->
            </div>
            <div class="u-form-email u-form-group u-form-group-2">
              <label for="email-6797" class="u-form-control-hidden u-label">Email</label>
              {{ form.email }}
              <!-- <input type="email" placeholder="Email" id="email-6797" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required=""> -->
            </div>
            <div class="u-form-group u-form-message u-form-group-3">
              <label for="message-6797" class="u-form-control-hidden u-label">Nachricht</label>
              {{ form.nachricht }}
              <!-- <textarea placeholder="Address" rows="4" cols="50" id="message-6797" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required=""></textarea> -->
            </div>
            <div class="u-align-left u-form-group u-form-submit u-form-group-4">
              <a href="neustart?version=nicepage" class="u-btn u-btn-submit u-button-style">Abschicken</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success">Vielen Dank! Ihre Nachricht wurde gesendet.</div>
            <div class="u-form-send-error u-form-send-message">Ihre Nachricht konnte nicht gesendet werden. Bitte prüfen Sie Ihre Angaben.</div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-17f9">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-clearfix u-palette-3-light-3 u-section-3" id="sec-b57b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="RUBRIK u-align-center u-text u-text-default-xl u-text-1">Katalog herunterladen<br>
        </h2>
        <div class="AKTUELL u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="BILD u-container-style u-image u-layout-cell u-size-29 u-image-1" data-image-width="1920" data-image-height="1080">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-layout-cell u-size-31 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h5 class="u-text u-text-2">Der neue Katalog</h5>
                  <p class="u-text u-text-default u-text-3">Winterreisen, Adventsfahren - schauen Sie in unseren neuen Katalog hier als PDF oder besuchen Sie uns im Reisebüro für ein handfestes Exemplar.</p>
                  <a href="files/Winter-Katalog2021.pdf" class="u-border-none u-btn u-button-style u-file-link u-hover-palette-3-light-2 u-radius-6 u-btn-1">PDF herunterladen</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




    <footer class="u-align-center u-clearfix u-footer u-palette-1-dark-2 u-footer" id="sec-13b5"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">
          <span style="font-weight: 700;">Reiseservice Schwerin GmbH</span>
          <br>Klöresgang 1, 19053 Schwerin<br>Tel:&nbsp;03 85 - 59 10 333<br>Fax: 03 85 - 59 10 331<br>
        </p>
        <ul class="u-align-left u-custom-list u-text u-text-2">
          <li>
            <div class="u-list-icon u-text-palette-3-base">
              <svg class="u-svg-content" viewBox="0 0 480.026 480.026" id="svg-fcde"><g fill="currentColor"><path d="m475.922 229.325-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96c-6.304 0-12.032 3.712-14.624 9.472-2.56 5.792-1.504 12.544 2.72 17.216l134.368 149.312-134.368 149.28c-4.224 4.704-5.312 11.456-2.72 17.216 2.592 5.792 8.32 9.504 14.624 9.504h96c4.544 0 8.832-1.952 11.904-5.28l144-160c5.472-6.08 5.472-15.36 0-21.408z"></path><path d="m267.922 229.325-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96c-6.304 0-12.032 3.712-14.624 9.472-2.56 5.792-1.504 12.544 2.72 17.216l134.368 149.312-134.368 149.28c-4.224 4.704-5.312 11.456-2.72 17.216 2.592 5.792 8.32 9.504 14.624 9.504h96c4.544 0 8.832-1.952 11.904-5.28l144-160c5.472-6.08 5.472-15.36 0-21.408z"></path>
</g></svg>
            </div>
          </li>
          <li>
            <div class="u-list-icon u-text-palette-3-base">
              <svg class="u-svg-content" viewBox="0 0 480.026 480.026" id="svg-fcde"><g fill="currentColor"><path d="m475.922 229.325-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96c-6.304 0-12.032 3.712-14.624 9.472-2.56 5.792-1.504 12.544 2.72 17.216l134.368 149.312-134.368 149.28c-4.224 4.704-5.312 11.456-2.72 17.216 2.592 5.792 8.32 9.504 14.624 9.504h96c4.544 0 8.832-1.952 11.904-5.28l144-160c5.472-6.08 5.472-15.36 0-21.408z"></path><path d="m267.922 229.325-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96c-6.304 0-12.032 3.712-14.624 9.472-2.56 5.792-1.504 12.544 2.72 17.216l134.368 149.312-134.368 149.28c-4.224 4.704-5.312 11.456-2.72 17.216 2.592 5.792 8.32 9.504 14.624 9.504h96c4.544 0 8.832-1.952 11.904-5.28l144-160c5.472-6.08 5.472-15.36 0-21.408z"></path>
</g></svg>
            </div>
            <a href="Impressum.html" data-page-id="57445026" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1">Impressum &amp; Haftungsausschluss</a>
          </li>
          <li>
            <div class="u-list-icon u-text-palette-3-base">
              <svg class="u-svg-content" viewBox="0 0 480.026 480.026" id="svg-fcde"><g fill="currentColor"><path d="m475.922 229.325-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96c-6.304 0-12.032 3.712-14.624 9.472-2.56 5.792-1.504 12.544 2.72 17.216l134.368 149.312-134.368 149.28c-4.224 4.704-5.312 11.456-2.72 17.216 2.592 5.792 8.32 9.504 14.624 9.504h96c4.544 0 8.832-1.952 11.904-5.28l144-160c5.472-6.08 5.472-15.36 0-21.408z"></path><path d="m267.922 229.325-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96c-6.304 0-12.032 3.712-14.624 9.472-2.56 5.792-1.504 12.544 2.72 17.216l134.368 149.312-134.368 149.28c-4.224 4.704-5.312 11.456-2.72 17.216 2.592 5.792 8.32 9.504 14.624 9.504h96c4.544 0 8.832-1.952 11.904-5.28l144-160c5.472-6.08 5.472-15.36 0-21.408z"></path>
</g></svg>
            </div>
            <a href="Datenschutz.html" data-page-id="52917303" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-2">Datenschutzerklärung</a>
          </li>
          <li>
            <div class="u-list-icon u-text-palette-3-base">
              <svg class="u-svg-content" viewBox="0 0 480.026 480.026" id="svg-fcde"><g fill="currentColor"><path d="m475.922 229.325-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96c-6.304 0-12.032 3.712-14.624 9.472-2.56 5.792-1.504 12.544 2.72 17.216l134.368 149.312-134.368 149.28c-4.224 4.704-5.312 11.456-2.72 17.216 2.592 5.792 8.32 9.504 14.624 9.504h96c4.544 0 8.832-1.952 11.904-5.28l144-160c5.472-6.08 5.472-15.36 0-21.408z"></path><path d="m267.922 229.325-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96c-6.304 0-12.032 3.712-14.624 9.472-2.56 5.792-1.504 12.544 2.72 17.216l134.368 149.312-134.368 149.28c-4.224 4.704-5.312 11.456-2.72 17.216 2.592 5.792 8.32 9.504 14.624 9.504h96c4.544 0 8.832-1.952 11.904-5.28l144-160c5.472-6.08 5.472-15.36 0-21.408z"></path>
</g></svg>
            </div>
          </li>
          <li>
            <div class="u-list-icon u-text-palette-3-base">
              <svg class="u-svg-content" viewBox="0 0 480.026 480.026" id="svg-fcde"><g fill="currentColor"><path d="m475.922 229.325-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96c-6.304 0-12.032 3.712-14.624 9.472-2.56 5.792-1.504 12.544 2.72 17.216l134.368 149.312-134.368 149.28c-4.224 4.704-5.312 11.456-2.72 17.216 2.592 5.792 8.32 9.504 14.624 9.504h96c4.544 0 8.832-1.952 11.904-5.28l144-160c5.472-6.08 5.472-15.36 0-21.408z"></path><path d="m267.922 229.325-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96c-6.304 0-12.032 3.712-14.624 9.472-2.56 5.792-1.504 12.544 2.72 17.216l134.368 149.312-134.368 149.28c-4.224 4.704-5.312 11.456-2.72 17.216 2.592 5.792 8.32 9.504 14.624 9.504h96c4.544 0 8.832-1.952 11.904-5.28l144-160c5.472-6.08 5.472-15.36 0-21.408z"></path>
</g></svg>
            </div>
            <a href="Reisebedingungen.html" data-page-id="82856034" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-3">Reisebedingungen</a>
          </li>
        </ul>
        <p class="u-align-center u-text u-text-3">
          <span style="font-weight: 700;"> Öffnungszeiten:</span>
          <br>Mo.-Fr. 9:30 - 18:00 Uhr<br>Sa. 10:00 Uhr - 14:00 Uhr
        </p>
      </div></footer>
  <section class="u-align-center u-clearfix u-cookies-consent u-lightbox u-palette-1-dark-2 u-cookies-consent" id="sec-cd87">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-43-md u-size-43-sm u-size-43-xs u-size-46-lg u-size-46-xl u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h3 class="u-text u-text-default u-text-1">Cookies &amp; Privateinstellungen</h3>
                  <p class="u-text u-text-2">Diese Website benutzt Cookies, um bestmögliche Informationen zu bieten.</p>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-14-lg u-size-14-xl u-size-17-md u-size-17-sm u-size-17-xs u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-top-sm u-valign-top-xs u-container-layout-2">
                  <a href="###" class="u-border-none u-btn u-button-confirm u-button-style u-text-black u-btn-1">Einverstanden</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <style>.u-cookies-consent {
  background-image: none;
}

.u-cookies-consent .u-sheet-1 {
  min-height: 422px;
}

.u-cookies-consent .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-cookies-consent .u-layout-cell-1 {
  min-height: 152px;
}

.u-cookies-consent .u-container-layout-1 {
  padding: 30px 60px;
}

.u-cookies-consent .u-text-1 {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-cookies-consent .u-text-2 {
  margin: 8px 158px 0 0;
}

.u-cookies-consent .u-layout-cell-2 {
  min-height: 152px;
}

.u-cookies-consent .u-container-layout-2 {
  padding: 30px;
}

.u-cookies-consent .u-btn-1 {
  border-style: none;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-cookies-consent .u-sheet-1 {
    min-height: 395px;
  }

  .u-cookies-consent .u-layout-cell-1 {
    min-height: 125px;
  }

  .u-cookies-consent .u-text-1 {
    margin-right: 0;
  }

  .u-cookies-consent .u-text-2 {
    margin-right: 5px;
  }

  .u-cookies-consent .u-layout-cell-2 {
    min-height: 125px;
  }
}

@media (max-width: 991px) {
  .u-cookies-consent .u-sheet-1 {
    min-height: 370px;
  }

  .u-cookies-consent .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-cookies-consent .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-cookies-consent .u-text-2 {
    margin-right: 0;
  }

  .u-cookies-consent .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-cookies-consent .u-sheet-1 {
    min-height: 470px;
  }

  .u-cookies-consent .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .u-cookies-consent .u-container-layout-2 {
    padding: 10px;
  }
}</style></section></body>
</html>
