{% load static %}
{% load eigene_tags %}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="de-DE">

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Gutes Reisen ist Vertrauenssache.">
    <meta name="description" content="Das Reisebüro aus Schwerin fährt Sie in alle Welt! Gutes Reisen ist Vertrauenssache!">

    <title>Der Reiseservice Schwerin</title>

    <link rel="stylesheet" href="{% static 'css/mmgd.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/Start.css' %}" media="screen">

    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/mmgd.js' %}" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link id="u-page-google-font" rel="stylesheet" href="{% static 'css/Start-fonts.css' %}">

    <script type="application/ld+json">
    {
		  "@context": "http://schema.org",
		  "@type": "Organization",
		  "name": "Reiseservice Schwerin",
                  "url": "http://www.reiseservice-schwerin.de",
		  "logo": "{% static 'images/LogoRSS2021_LogoGold.png' %}",
		  "sameAs": [
				"https://www.facebook.com/ReiseserviceSchwerin-2866443210034243",
				"https://www.instagram.com/reiseserviceschwerin/"
		  ]
    }
    </script>

    <meta name="theme-color" content="#01498d">
    <meta property="og:title" content="Der Reiseservice Schwerin">
    <meta property="og:description" content="Das Reisebüro aus Schwerin fährt Sie in alle Welt! Gutes Reisen ist Vertrauenssache!">
    <meta property="og:type" content="website">

    <!--
    <script>
      var body = document.body,
          overlay = document.querySelector('.overlay'),
          overlayBtts = document.querySelectorAll('button[class$="overlay"]');

      [].forEach.call(overlayBtts, function(btt) {
        btt.addEventListener('click', function() {
          /* Detect the button class name */
          var overlayOpen = this.className === 'open-overlay';
          /* Toggle the aria-hidden state on the overlay and the
             no-scroll class on the body */
          overlay.setAttribute('aria-hidden', !overlayOpen);
          body.classList.toggle('noscroll', overlayOpen);
          /* On some mobile browser when the overlay was previously
             opened and scrolled, if you open it again it doesn't
             reset its scrollTop property */
          overlay.scrollTop = 0;
        }, false);
      });
    </script>
    -->

    <script type="text/javascript" src="//www.privacypolicies.com/public/cookie-consent/4.0.0/cookie-consent.js" charset="UTF-8"></script>

    <script type="text/javascript" charset="UTF-8">
      document.addEventListener('DOMContentLoaded', function () {
        cookieconsent.run(
          {"notice_banner_type":"interstitial","consent_type":"express","palette":"light","language":"de","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"Reiseservice Schwerin","website_privacy_policy_url":"https://www.reiseservice-schwerin.de/Datenschutz.html"}
        );
      });
    </script>

    <!--

    <script src="https://www.google.com/recaptcha/api.js?render=6LdzLZohAAAAAEEuFoZFf3fs-zqMtPHkkWpzxTe8"></script>

    <script>
    ( function( grecaptcha, sitekey, actions ) {

    	var recaptcha = {

    		execute: function( action ) {
    			grecaptcha.execute(
    				sitekey,
    				{ action: action }
    			).then( function( token ) {
    				var forms = document.getElementsByTagName( 'form' );

    				for ( var i = 0; i < forms.length; i++ ) {
    					var fields = forms[ i ].getElementsByTagName( 'input' );

    					for ( var j = 0; j < fields.length; j++ ) {
    						var field = fields[ j ];

    						if ( 'recaptchaResponse' === field.getAttribute( 'name' ) ) {
    							field.setAttribute( 'value', token );
    							break;
    						}
    					}
    				}
    			} );
    		},

    		executeContact: function() {
    			recaptcha.execute( actions[ 'contact' ] );
    		}
    	};

    	grecaptcha.ready(
    		recaptcha.executeContact
    	);

    	document.addEventListener( 'change',
    		recaptcha.executeContact, false
    	);
    } )(
    	grecaptcha,
    	'6LdzLZohAAAAAEEuFoZFf3fs-zqMtPHkkWpzxTe8',
    	{"contact":"contact"}
    );
    </script>

    -->

  </head>

  <body class="u-body u-xl-mode" data-lang="de">
    <header class="u-clearfix u-header u-white u-header" id="sec-00af">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <a href="neustart?version=nicepage" data-page-id="351830228" class="u-image u-logo u-image-1" data-image-width="1182" data-image-height="1182" title="Start">
          <img src="{% static 'images/LogoRSS2021_LogoGold.png' %}" class="u-logo-image u-logo-image-1">
        </a>
        <h3 class="u-hidden-sm u-hidden-xs u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-palette-1-base u-text-1">Telefon:&nbsp; <a class="nonblock u-active-none u-border-none u-btn u-button-link u-button-style u-hidden-sm u-hover-none u-none u-text-palette-1-base u-btn-1" href="tel:0385 - 5910 333">0385 - 5910 333</a></h3>
        <div class="u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" title="facebook" target="_blank" href="https://www.facebook.com/ReiseserviceSchwerin-2866443210034243">
            <span class="u-icon u-social-facebook u-social-icon u-text-palette-1-base">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efa4"></use>
              </svg>
              <svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-efa4">
                <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
                <path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path>
              </svg>
            </span>
          </a>
          <a class="u-social-url" title="instagram" target="_blank" href="https://www.instagram.com/reiseserviceschwerin/">
            <span class="u-icon u-social-icon u-social-instagram u-text-palette-1-base">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4d97"></use>
              </svg>
              <svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-4d97">
                <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
                <path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path>
                <path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path>
                <path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path>
              </svg>
            </span>
          </a>
        </div>

        <!-- NAVIGATION -->

        <nav class="u-menu u-menu-dropdown u-menu-open-right u-offcanvas u-offcanvas-shift u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-palette-1-base" href="#" style="font-size: calc(1em + 16px);">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
              <li class="u-nav-item">
                <a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base" href="neustart?version=nicepage" style="padding: 10px 14px;">Start</a>
              </li>
              <li class="u-nav-item">
                <a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base" href="mehrtagesfahrten" style="padding: 10px 14px;">Mehrtagesfahrten</a>
              </li>
              <li class="u-nav-item">
                <a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base" href="tagesfahrten" style="padding: 10px 14px;">Tagesfahrten</a>
              </li>
              <li class="u-nav-item">
                <a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base" href="reiseberatung" style="padding: 10px 14px;">Reiseberatung</a>
              </li>
              <li class="u-nav-item">
                <a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base" href="kontakt" style="padding: 10px 14px;">Service &amp; Kontakt</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-container-style u-expanded-width-md u-expanded-width-sm u-inner-container-layout u-sidenav u-sidenav-1" data-offcanvas-width="280">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close u-menu-close-1"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-spacing-21 u-text-active-palette-3-base u-unstyled u-nav-2">
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="neustart?version=nicepage" style="padding-top: 8px; padding-bottom: 8px;">Start</a>
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="mehrtagesfahrten" style="padding-top: 8px; padding-bottom: 8px;">Mehrtagesfahrten</a>
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="tagesfahrten" style="padding-top: 8px; padding-bottom: 8px;">Tagesfahrten</a>
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="reiseberatung" style="padding-top: 8px; padding-bottom: 8px;">Reiseberatung</a>
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="kontakt" style="padding-top: 8px; padding-bottom: 8px;">Service &amp; Kontakt</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-menu-overlay"></div>
          </div>
        </nav>
      </div>
      <style class="u-sticky-style" data-style-id="1835">.u-sticky-fixed.u-sticky-1835:before, .u-body.u-sticky-fixed .u-sticky-1835:before {
borders: top right bottom left !important
}
      </style>
    </header>

    <section class="HEADER skrollable u-align-center u-clearfix u-image u-parallax lazyload u-section-1" id="Header_Start" data-image-width="1600" data-image-height="754" data-bg="url(&quot;{% static 'images/Header-Startseite.jpg' %}&quot;)">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <div class="KARUSELL u-expanded-width u-layout-grid u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-radius-5 u-repeater-item u-shape-round u-white u-list-item-1" data-href="mehrtagesfahrten" data-page-id="134383028">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h2 class="u-align-center u-text u-text-default u-text-1">Mehrtagesfahrten</h2>
                <img class="u-expanded-width u-image u-image-default lazyload u-image-1" alt="" data-image-width="1600" data-image-height="900" data-src="{% static 'images/header_Reisen.jpg' %}">
                <p class="u-align-center u-text u-text-default u-text-2">Beispiel normaler Text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                <a href="#" class="u-border-none u-btn u-button-style u-none u-text-palette-1-base u-btn-1">weiter</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-radius-5 u-repeater-item u-shape-round u-white u-list-item-2" data-href="tagesfahrten" data-page-id="792012504">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h2 class="u-align-center u-text u-text-default u-text-3">Tagesfahrten</h2>
                <img class="u-expanded-width u-image u-image-default lazyload u-image-2" alt="" data-image-width="1600" data-image-height="778" data-src="{% static 'images/20190630_200221.jpg' %}">
                <p class="u-align-center u-text u-text-default u-text-4">Beispiel normaler Text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                <a href="#" class="u-border-none u-btn u-button-style u-none u-text-palette-1-base u-btn-2">weiter</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-radius-5 u-repeater-item u-shape-round u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h2 class="u-align-center u-text u-text-default u-text-5">Musicals</h2>
                <img class="u-expanded-width u-image u-image-default lazyload u-image-3" alt="" data-image-width="1600" data-image-height="1066" data-src="{% static 'images/_RO_7829.jpg' %}">
                <p class="u-align-center u-text u-text-default u-text-6">Beispiel normaler Text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                <a href="#" class="u-border-none u-btn u-button-style u-none u-text-palette-1-base u-btn-3">weiter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section Aktuelles -->

    <section class="u-clearfix u-palette-3-light-3 u-section-2" id="sec-7774">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="RUBRIK u-align-left u-text u-text-1">Aktuell<br></h2>
      </div>
    </section>

    <section class="NEWS TEASER u-clearfix u-palette-3-light-3 u-section-3" id="sec-68b1">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="AKTUELL u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="BILD u-container-style u-layout-cell u-size-29 u-layout-cell-1" data-href="#">
                <div class="u-container-layout u-valign-middle-lg u-valign-top-sm u-valign-top-xl u-valign-top-xs u-container-layout-1">
                  <img class="u-expanded-width-sm u-expanded-width-xs u-image lazyload u-image-1" data-image-width="1920" data-image-height="1080" data-src="{% static 'images/Katalog_00161.jpg' %}">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-31 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h5 class="u-text u-text-1">Der neue Katalog</h5>
                  <p class="u-text u-text-default u-text-2">Winterreisen, Adventsfahren - schauen Sie in unseren neuen Katalog hier als PDF oder besuchen Sie uns im Reisebüro für ein handfestes Exemplar.</p>
                  <a href="{{ MEDIA_URL }}kataloge/2223/Winter-Katalog_2223.pdf" class="u-align-left u-border-none u-btn u-button-style u-file-link u-hidden-xs u-hover-palette-3-light-2 u-palette-3-base u-btn-1">PDF herunterladen</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section Aktuelle Reisen -->

    <section class="REISEN TEASER u-clearfix u-section-4" id="sec-1782">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">Aktuelle Reisen</h2>
      </div>
    </section>

    <!-- Reiseschleife -->

    {% for reise in reisen %}

    <section class="u-clearfix u-section-5" id="sec-9d82">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="REISE-TEASER u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="BILD u-container-style u-layout-cell u-size-18-lg u-size-18-xl u-size-25-md u-size-25-sm u-size-25-xs u-layout-cell-1" data-href="detail/{{ reise.reiseID|ohneminus }}">
                <div class="u-container-layout u-container-layout-1">
                  <!-- REISETYPFARBE -->
                  <div class="u-container-style u-expanded-width u-group {{reise.reisetyp|reisetypfarbe}} u-group-1">
                    <div class="u-container-layout u-container-layout-2">
                      <img class="u-align-left u-image u-image-default u-preserve-proportions lazyload u-image-1" alt="" data-image-width="400" data-image-height="400" data-src="{% static 'images/Logo-' %}{{reise.reisetyp|ohnetageklein}}.png">
                      <img class="Flagge01 u-image u-image-default lazyload u-image-2" alt="Flagge01" data-image-width="1000" data-image-height="600" data-src="{% static 'images/' %}{{reise.reisezielregionen__zielregion_id__name|land}}.png">
                      <!-- für weitere Flaggen
                      <img class="Flagge02 u-image u-image-default lazyload u-image-3" alt="Flagge02" data-image-width="1280" data-image-height="853" data-src="images/Italien.png">
                      <img class="Flagge03 u-image u-image-default lazyload u-image-4" alt="Flagge03" data-image-width="1280" data-image-height="800" data-src="images/Polen.png">
                      <img class="Flagge04 u-image u-image-default lazyload u-image-5" alt="Flagge04" data-image-width="900" data-image-height="600" data-src="images/Georgien.png">
                      -->
                    </div>
                  </div>
                  <img class="u-image lazyload u-image-6" data-image-width="1280" data-image-height="853" data-src="{% static 'images/dc02bbfa0dfddc84e07f1df389dba9211fee6c790e80a26a156833e9aa9574450ef2c41572eaaa90559f9dbe9930a4ed9d5b365a114e27a7dc4086_1280.jpg' %}">
                </div>
              </div>
              <!-- <div class="u-container-style u-layout-cell u-size-30-md u-size-30-sm u-size-30-xs u-size-40-lg u-size-42-xl u-layout-cell-2" data-href="detail/{{ reise.reiseID|ohneminus }}" data-page-id="912606180"> -->
              <!-- <div class="u-container-style u-layout-cell u-size-35-md u-size-35-sm u-size-35-xs u-size-42-lg u-size-42-xl u-layout-cell-2" data-href="detail/{{ reise.reiseID|ohneminus }}" data-page-id="912606180"> -->
              <div class="u-container-style u-layout-cell u-size-35-md u-size-35-sm u-size-35-xs u-size-42-lg u-size-42-xl u-layout-cell-2 data-href="detail/{{ reise.reiseID|ohneminus }}" data-page-id="912606180"">
                <div class="u-container-layout u-container-layout-3">
                  <!-- REISETYP, REISETYPFARBE -->
                  <!-- <div class="{{ reise.reisetyp|ohnetage }} u-container-style u-expanded-width-sm u-expanded-width-xs u-group {{reise.reisetyp|reisetypfarbe}} u-shape-rectangle u-group-2" data-href="detail/{{ reise.reiseID|ohneminus }}" data-page-id="912606180"> -->
                  <div class="{{ reise.reisetyp|ohnetage }} u-container-style u-expanded-width-sm u-expanded-width-xs u-group {{reise.reisetyp|reisetypfarbe}} u-shape-rectangle u-group-2">
                    <div class="u-container-layout u-container-layout-4">
                      <h6 class="u-align-center-sm u-align-center-xs u-text u-text-body-alt-color u-text-default u-text-1"> {{ reise.reisetyp|mittageklein }}, {{ reise.reisetermine__datum_beginn|date:'d.m.' }} - {{ reise.reisetermine__datum_ende|date:'d.m.Y' }}<br></h6>
                    </div>
                  </div>
                  <h4 class="REISETITEL u-text u-text-2"> {{ reise.titel }}&nbsp;<br></h4>
                  <p class="u-text u-text-3">{{ reise.einleitung }}<br></p>
                  <a href="detail/{{ reise.reiseID|ohneminus }}" data-page-id="912606180" class="BUTTON_DETAIL u-border-none u-btn u-button-style u-hover-palette-3-light-2 u-btn-1">ab {{ reise.reisepreise__preis }} €</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Trennlinie
        {% if not forloop.last %}
        <div class="u-border-1 u-border-palette-5-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
        {% endif %}
        -->
      </div>
    </section>

    {% endfor %}

    <!-- als Kommentar gelassen wegen Schriftfarbe Reisetyp, Datum entsprechend Reisekategorie

    <section class="u-clearfix u-section-6" id="carousel_7f21">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="REISE-TEASER u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="BILD u-container-style u-layout-cell u-size-18-xl u-size-20-lg u-size-30-md u-size-30-sm u-size-30-xs u-layout-cell-1" data-href="#">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-container-style u-custom-color-1 u-expanded-width u-group u-group-1">
                    <div class="u-container-layout u-container-layout-2">
                      <img class="u-align-left u-image u-image-default u-preserve-proportions u-image-1" src="images/Logo-Wanderreise.png" alt="" data-image-width="400" data-image-height="400">
                      <img class="u-image u-image-default u-image-2" src="images/Italien.png" alt="" data-image-width="1280" data-image-height="853">
                    </div>
                  </div>
                  <img class="u-image u-image-3" src="images/69a1d23e7d35af7466a335ae6b8be2297fdd43efc41ec5f5655604ea403c6976b33348545b3ae3f582e999a8fbec26362fc3f673d9fe5511085060_1280.jpg" data-image-width="1280" data-image-height="853">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30-md u-size-30-sm u-size-30-xs u-size-40-lg u-size-42-xl u-layout-cell-2" data-href="Reise.html" data-page-id="912606180">
                <div class="u-container-layout u-valign-top-md u-valign-top-sm u-container-layout-3">
                  <div class="BUSREISE u-container-style u-custom-color-1 u-group u-shape-rectangle u-group-2">
                    <div class="u-container-layout u-container-layout-4">
                      <h6 class="u-text u-text-body-alt-color u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1"> 3 Tage Wanderreise, 26.11. - 28.11.21<br>
                      </h6>
                    </div>
                  </div>
                  <h4 class="REISETITEL u-text u-text-2"> Adventszauber in der Weihnachtshauptstadt Dresden&nbsp;<br>
                  </h4>
                  <p class="u-text u-text-3">Beispiel normaler Text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                  <a href="Reise.html" data-page-id="912606180" class="BUTTON_DETAIL u-align-center-xs u-border-none u-btn u-button-style u-hover-palette-3-light-2 u-btn-1">ab 300 €</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-border-1 u-border-palette-5-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
      </div>
    </section>

    <section class="u-clearfix u-section-7" id="carousel_0a83">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="REISE-TEASER u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="BILD u-container-style u-layout-cell u-size-18-xl u-size-20-lg u-size-30-md u-size-30-sm u-size-30-xs u-layout-cell-1" data-href="#">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-container-style u-expanded-width u-group u-palette-1-light-1 u-group-1">
                    <div class="u-container-layout u-container-layout-2">
                      <img class="u-align-left u-image u-image-default u-preserve-proportions u-image-1" src="images/Logo-Flugreise.png" alt="" data-image-width="400" data-image-height="400">
                      <img class="u-image u-image-default u-image-2" src="images/Italien.png" alt="" data-image-width="1280" data-image-height="853">
                    </div>
                  </div>
                  <img class="u-image u-image-3" src="images/1bae3637ec439266231da8ac17c659da1e6dd5b2cee085b3eadb000e1f1394d2be51140e9b7fcb6cd225f9367a1c107938a03d1078ab602bf6d6c9_1280.jpg" data-image-width="1280" data-image-height="851">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30-md u-size-30-sm u-size-30-xs u-size-40-lg u-size-42-xl u-layout-cell-2" data-href="Reise.html" data-page-id="912606180">
                <div class="u-container-layout u-valign-top-md u-valign-top-sm u-container-layout-3">
                  <div class="BUSREISE u-container-style u-group u-palette-1-light-1 u-shape-rectangle u-group-2">
                    <div class="u-container-layout u-container-layout-4">
                      <h6 class="u-text u-text-body-alt-color u-text-1"> 3 Tage Flugreise, 26.11. - 28.11.21<br>
                      </h6>
                    </div>
                  </div>
                  <h4 class="REISETITEL u-text u-text-2"> Adventszauber in der Weihnachtshauptstadt Dresden&nbsp;<br>
                  </h4>
                  <p class="u-text u-text-3">Beispiel normaler Text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                  <a href="Reise.html" data-page-id="912606180" class="BUTTON_DETAIL u-align-center-xs u-border-none u-btn u-button-style u-hover-palette-3-light-2 u-btn-1">ab 300 €</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-border-1 u-border-palette-5-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
      </div>
    </section>

    <section class="u-clearfix u-section-8" id="carousel_53d4">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="REISE-TEASER u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="BILD u-container-style u-layout-cell u-size-18-xl u-size-20-lg u-size-30-md u-size-30-sm u-size-30-xs u-layout-cell-1" data-href="#">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-1">
                    <div class="u-container-layout u-container-layout-2">
                      <img class="u-align-left u-image u-image-default u-preserve-proportions u-image-1" src="images/Logo-Schiffsreise.png" alt="" data-image-width="400" data-image-height="400">
                      <img class="u-image u-image-default u-image-2" src="images/Italien.png" alt="" data-image-width="1280" data-image-height="853">
                    </div>
                  </div>
                  <img class="u-image u-image-3" src="images/4f23ed491bef9166f8fa7a25b2c92bf6cd6716fd0493058e6f1ad019d1a275b22e2071176671542bac8233961f2b6aa8a616620a7a4db33bb2f1f9_1280.jpg" data-image-width="1280" data-image-height="854">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30-md u-size-30-sm u-size-30-xs u-size-40-lg u-size-42-xl u-layout-cell-2" data-href="Reise.html" data-page-id="912606180">
                <div class="u-container-layout u-valign-top-md u-valign-top-sm u-container-layout-3">
                  <div class="BUSREISE u-container-style u-group u-palette-1-base u-shape-rectangle u-group-2">
                    <div class="u-container-layout u-container-layout-4">
                      <h6 class="u-text u-text-body-alt-color u-text-1"> 3 Tage Schiffsreise, 26.11. - 28.11.21<br>
                      </h6>
                    </div>
                  </div>
                  <h4 class="REISETITEL u-text u-text-2"> Adventszauber in der Weihnachtshauptstadt Dresden&nbsp;<br>
                  </h4>
                  <p class="u-text u-text-3">Beispiel normaler Text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                  <a href="Reise.html" data-page-id="912606180" class="BUTTON_DETAIL u-align-center-xs u-border-none u-btn u-button-style u-hover-palette-3-light-2 u-btn-1">ab 300 €</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-border-1 u-border-palette-5-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
      </div>
    </section>

    <section class="u-clearfix u-section-9" id="carousel_e17b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="REISE-TEASER u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="BILD u-container-style u-layout-cell u-size-18-xl u-size-20-lg u-size-30-md u-size-30-sm u-size-30-xs u-layout-cell-1" data-href="#">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-container-style u-expanded-width u-group u-palette-4-base u-group-1">
                    <div class="u-container-layout u-container-layout-2">
                      <img class="u-align-left u-image u-image-default u-preserve-proportions u-image-1" src="images/Logo-Wellnessreise.png" alt="" data-image-width="400" data-image-height="400">
                      <img class="u-expanded-height u-image u-image-default u-image-2" src="images/Polen.png" alt="" data-image-width="1280" data-image-height="800">
                    </div>
                  </div>
                  <img class="u-image u-image-3" src="images/7552692922ddedd81324c80c6b39647b7744d51bf04b7c7d9dc17aa3f80510a935b2301a145eea79c10060fbc246370e740aa544064f9d329db9dc_1280.jpg" data-image-width="1280" data-image-height="960">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30-md u-size-30-sm u-size-30-xs u-size-40-lg u-size-42-xl u-layout-cell-2" data-href="Reise.html" data-page-id="912606180">
                <div class="u-container-layout u-valign-top-md u-valign-top-sm u-container-layout-3">
                  <div class="BUSREISE u-container-style u-group u-palette-4-base u-shape-rectangle u-group-2">
                    <div class="u-container-layout u-container-layout-4">
                      <h6 class="u-text u-text-body-alt-color u-text-1"> 3 Tage Wellnessreise, 26.11. - 28.11.21<br>
                      </h6>
                    </div>
                  </div>
                  <h4 class="REISETITEL u-text u-text-2"> Adventszauber in der Weihnachtshauptstadt Dresden&nbsp;<br>
                  </h4>
                  <p class="u-text u-text-3">Beispiel normaler Text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                  <a href="Reise.html" data-page-id="912606180" class="BUTTON_DETAIL u-align-center-xs u-border-none u-btn u-button-style u-hover-palette-3-light-2 u-btn-1">ab 300 €</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-border-1 u-border-palette-5-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
      </div>
    </section>

    -->

    <section class="TEASER u-border-1 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-5-base u-clearfix u-section-6" id="sec-aba0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img alt="Gutscheine" class="u-expanded-width u-image u-image-default lazyload u-image-1" data-image-width="1200" data-image-height="847" data-src="{% static 'images/Gutschein_Sommer_2021.jpg' %}">
                <h3 class="u-align-center u-text u-text-default u-text-palette-2-base u-text-1">Gutschein</h3>
                <p class="u-text u-text-2">Wir stellen Ihnen ein Gutschein aus in der von Ihnen bestimmten Höhe.</p>
                <a href="kontakt#sec-17f9" data-page-id="83627266" class="u-align-center u-border-none u-btn u-button-style u-hover-palette-3-light-2 u-palette-3-base u-btn-1">Weiter</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img alt="Reiseberatung" class="u-expanded-width u-image u-image-default lazyload u-image-2" data-image-width="1600" data-image-height="1092" data-src="{% static 'images/Team_2021_03.jpg' %}">
                <h3 class="u-align-center u-text u-text-default u-text-palette-2-base u-text-3">Reiseberatung</h3>
                <p class="u-text u-text-4"> Busreisen, Tagesfahrten, Städte-Reisen,Wanderreisen,&nbsp; Musical-Reisen uvm...</p>
                <a href="kontakt" data-page-id="83627266" class="u-align-center u-border-none u-btn u-button-style u-hover-palette-3-light-2 u-palette-3-base u-btn-2">Weiter</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img alt="Reisebedingungen" class="u-expanded-width u-image u-image-default lazyload u-image-3" data-image-width="1200" data-image-height="848" data-src="{% static 'images/Checkliste.jpg' %}">
                <h3 class="u-align-center u-text u-text-default u-text-palette-2-base u-text-5">Reisebedingungen</h3>
                <p class="u-text u-text-6">Alle Reisebedingungen auf einen Blick.&nbsp;</p>
                <a href="reisebedingungen" data-page-id="82856034" class="u-align-center u-border-none u-btn u-button-style u-hover-palette-3-light-2 u-palette-3-base u-btn-3">Weiter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--

    <section class="u-clearfix u-section-7" id="sec-ab23">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="RUBRIKEN u-align-center u-clearfix u-group-elements u-group-elements-1">
          <div class="u-align-left u-container-style u-group u-palette-2-base u-group-1">
            <div class="u-container-layout">
              <img class="BUSREISE u-expanded-height u-image u-image-default u-preserve-proportions lazyload u-image-1" alt="BUSREISE" data-image-width="400" data-image-height="400" data-src="images/Logo-Busreise.png">
            </div>
          </div>
          <div class="u-align-left u-container-style u-group u-palette-1-base u-group-2">
            <div class="u-container-layout">
              <img class="SCHIFFSREISE u-expanded-height u-image u-image-default u-preserve-proportions lazyload u-image-2" alt="SCHIFFSREISE" data-image-width="400" data-image-height="400" data-src="images/Logo-Schiffsreise.png">
            </div>
          </div>
          <div class="u-align-left u-container-style u-group u-palette-1-light-1 u-group-3">
            <div class="u-container-layout">
              <img class="FLUGREISE u-expanded-height u-image u-image-default u-preserve-proportions lazyload u-image-3" alt="FLUGREISE" data-image-width="400" data-image-height="400" data-src="images/Logo-Flugreise.png">
            </div>
          </div>
          <div class="u-align-left u-container-style u-custom-color-1 u-group u-group-4">
            <div class="u-container-layout">
              <img class="WANDERREISE u-expanded-height u-image u-image-default u-preserve-proportions lazyload u-image-4" alt="WANDERREISE" data-image-width="400" data-image-height="400" data-src="images/Logo-Wanderreise.png">
            </div>
          </div>
          <div class="u-align-left u-container-style u-group u-palette-4-base u-group-5">
            <div class="u-container-layout">
              <img class="KURREISE u-expanded-height u-image u-image-default u-preserve-proportions lazyload u-image-5" alt="KURREISE" data-image-width="400" data-image-height="400" data-src="images/Logo-Wellnessreise.png">
            </div>
          </div>
          <div class="u-container-style u-group u-palette-3-base u-group-6">
            <div class="u-container-layout">
              <img class="TAGESFAHRT u-expanded-height u-image u-image-default u-preserve-proportions lazyload u-image-6" alt="TAGESFAHRT" data-image-width="400" data-image-height="400" data-src="images/Logo-Busreise.png">
            </div>
          </div>
        </div>
      </div>
    </section>

    -->

    <footer class="u-align-center u-clearfix u-footer u-palette-1-dark-2 u-footer" id="Fusszeile">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-size-20-lg u-size-20-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <p class="u-text u-text-1">
                    <span style="font-weight: 700;">Reiseservice Schwerin GmbH</span>
                    <br>Klöresgang 1, 19053 Schwerin<br>Tel:&nbsp;03 85 - 59 10 333<br>Fax: 03 85 - 59 10 331
                  </p>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-20-lg u-size-20-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <p class="u-text u-text-2">
                    <span style="font-weight: 700;">Öffnungszeiten</span>:<br>Mo.-Fr. 10:00 - 18:00 Uhr<br>Sa. 10:00 Uhr - 14:00 Uhr
                  </p>
                </div>
              </div>
              <div class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-20-lg u-size-20-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-3">
                <div class="u-container-layout u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-3">
                  <p class="u-text u-text-3">
                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-light-3 u-btn-1" href="Impressum.html" data-page-id="57445026">Impressum</a>
                  </p>
                  <p class="u-text u-text-4">
                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-light-3 u-btn-2" href="Datenschutz.html" data-page-id="52917303">Datenschutz</a>
                  </p>
                  <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-light-3 u-btn-3" href="Reisebedingungen.html" data-page-id="82856034"><span class="u-icon"></span>Reisebedingungen
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Cookie u-clearfix u-custom-html u-expanded-width u-custom-html-1">
          <div class="u-clearfix u-custom-html u-custom-html-1 u-expanded-width u-custom-html-2">
            <a href="#" id="open_preferences_center">Cookie-Einstellungen ändern</a>
          </div>
        </div>
      </div>
    </footer>

    <span style="height: 64px; width: 64px; margin-left: 0px; margin-right: auto; margin-top: 0px; right: 30px; bottom: 30px; padding: 21px; background-image: none;" class="u-back-to-top u-icon u-icon-circle u-opacity u-opacity-85 u-palette-3-base u-spacing-9" data-href="#">
      <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1d98"></use></svg>
      <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13" xmlns="http://www.w3.org/2000/svg" id="svg-1d98"><path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path></svg>
    </span>

    <!-- FORMULAR
    <section class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-top u-dialog-section-9" id="overlay">
      <div class="overlay u-align-center u-container-style u-dialog u-expanded-width-xs u-white u-dialog-1">
        <div class="u-container-layout u-valign-top u-container-layout-1">
          <h2 class="u-align-center u-text u-text-default u-text-palette-2-base u-text-1">Buchungsanfrage</h2>
          <div class="u-expanded-width u-form u-form-1">
            <form action="//publish.mmgd.com/Form/Process" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 20px;" redirect="true" redirect-address="792012504#sec-ad3f">
              <div class="u-form-group u-label-none u-form-group-1">
                <label for="text-8c69" class="u-label">Eingabe</label>
                <input type="text" placeholder="Adventszauber in Dresden" id="text-8c69" name="text" class="u-input u-input-rectangle u-palette-5-light-3">
              </div>
              <div class="u-form-group u-label-none u-form-group-2">
                <label for="date-a943" class="u-label">Datum</label>
                <input type="text" placeholder="MM/DD/YYYY" id="date-a943" name="date" class="u-input u-input-rectangle u-palette-5-light-3">
              </div>
              <div class="u-form-group u-form-name u-label-none">
                <label for="name-7209" class="u-label">Name</label>
                <input type="text" placeholder="Geben Sie Ihren Namen ein" id="name-7209" name="name" class="u-input u-input-rectangle u-palette-5-light-3" required="">
              </div>
              <div class="u-form-address u-form-group u-label-none u-form-group-4">
                <label for="address-fe04" class="u-label">Adresse</label>
                <input type="text" placeholder="Geben Sie Ihre PLZ und Wohnort an" id="address-fe04" name="PLZ" class="u-input u-input-rectangle u-palette-5-light-3" required="">
              </div>
              <div class="u-form-address u-form-group u-label-none u-form-group-5">
                <label for="address-8815" class="u-label">Adresse</label>
                <input type="text" placeholder="Geben Sie Ihre Straße und Hausnummer an" id="address-8815" name="address" class="u-input u-input-rectangle u-palette-5-light-3" required="">
              </div>
              <div class="u-form-email u-form-group u-label-none">
                <label for="email-7209" class="u-label">E-Mail</label>
                <input type="email" placeholder="Geben sie eine gültige E-Mail-Adresse an" id="email-7209" name="email" class="u-input u-input-rectangle u-palette-5-light-3" required="">
              </div>
              <div class="u-form-group u-form-message u-label-none">
                <label for="message-7209" class="u-label">Nachricht</label>
                <textarea placeholder="Geben Sie Ihre Nachricht ein" rows="2" cols="50" id="message-7209" name="message" class="u-input u-input-rectangle u-palette-5-light-3" required=""></textarea>
              </div>
              <div class="u-align-left u-form-group u-form-submit u-label-none">
                <a href="#" class="u-btn u-btn-submit u-button-style u-text-palette-1-base u-btn-1">Abschicken</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Vielen Dank! Ihre Nachricht wurde gesendet. </div>
              <div class="u-form-send-error u-form-send-message"> Ihre Nachricht konnte nicht gesendet werden. Bitte beheben Sie den Fehler und versuchen Sie es erneut. </div>
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="c37ecc72cc789616ad0b47f051c8d5c2">
            </form>
          </div>
          <p class="u-align-center u-text u-text-default u-text-palette-5-dark-2 u-text-2">* Eingaben werden benötigt und entsprechend unserer Datenschutzverordnung verarbeitet.</p>
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-50 u-icon-1">
          <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 413.348 413.348" style="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5801"></use>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 413.348 413.348" id="svg-5801">
            <path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"></path>
          </svg>
        </button>
      </div>
    </section>

    -->

    <style>

    .u-dialog-section-9 {
      min-height: 826px;
    }

    .u-dialog-section-9 .u-dialog-1 {
      width: 566px;
      min-height: 637px;
      height: auto;
      margin: 0 auto 60px;
    }

    .u-dialog-section-9 .u-container-layout-1 {
      padding: 32px 0 28px;
    }

    .u-dialog-section-9 .u-text-1 {
      margin: 0 auto 0 20px;
    }

    .u-dialog-section-9 .u-form-1 {
      margin-top: 0;
      margin-bottom: 0;
      height: 567px;
    }

    .u-dialog-section-9 .u-form-group-1 {
      margin-left: 0;
    }

    .u-dialog-section-9 .u-form-group-2 {
      margin-left: 0;
    }

    .u-dialog-section-9 .u-form-group-4 {
      margin-left: 0;
    }

    .u-dialog-section-9 .u-form-group-5 {
      margin-left: 0;
    }

    .u-dialog-section-9 .u-btn-1 {
      font-weight: 700;
    }

    .u-dialog-section-9 .u-text-2 {
      font-size: 0.875rem;
      margin: 0 10px 0 auto;
    }

    .u-dialog-section-9 .u-icon-1 {
      width: 15px;
      height: 15px;
      left: auto;
      top: 17px;
      position: absolute;
      right: 16px;
    }

    @media (max-width: 991px) {
      .u-dialog-section-9 .u-container-layout-1 {
        padding-top: 40px;
      }
    }

    @media (max-width: 767px) {
      .u-dialog-section-9 .u-dialog-1 {
        width: 540px;
      }

      .u-dialog-section-9 .u-container-layout-1 {
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
      }
    }

    @media (max-width: 575px) {
      .u-dialog-section-9 .u-dialog-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
      }

      .u-dialog-section-9 .u-container-layout-1 {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 18px;
      }

      .u-dialog-section-9 .u-text-2 {
        font-size: 0.75rem;
      }
    }

    </style>

  </body>

</html>
