        <div class="PamphletWidget clearfix grpelem" id="pamphletu2796"><!-- none box -->

          <div class="ThumbGroup clearfix grpelem" id="u2801"><!-- none box -->

            <div class="popup_anchor">
              <div class="Thumb popup_element clearfix" id="u2804"><!-- group -->
                <!-- m_editable region-id="editable-static-tag-U2924-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" -->
                <div class="clearfix grpelem shared_content" id="u2924-4" data-muse-uid="U2924" data-muse-type="txt_frame" data-content-guid="u2924-4_content"><!-- content -->
                  <div id="u2924-3">
                    <p>Urlaubsfahrten</p>
                  </div>
                </div>
                <!-- /m_editable -->
              </div>
            </div>

            <div class="popup_anchor">
              <div class="Thumb popup_element clearfix" id="u2803"><!-- group -->
                <!-- m_editable region-id="editable-static-tag-U2953-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" -->
                <div class="clearfix grpelem shared_content" id="u2953-4" data-muse-uid="U2953" data-muse-type="txt_frame" data-content-guid="u2953-4_content"><!-- content -->
                  <div id="u2953-3">
                    <p>Tagesfahrten</p>
                  </div>
                </div>
                <!-- /m_editable -->
              </div>
            </div>

            <div class="popup_anchor">
              <div class="Thumb popup_element clearfix" id="u2802"><!-- group -->
                <!-- m_editable region-id="editable-static-tag-U2956-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" -->
                <div class="clearfix grpelem shared_content" id="u2956-4" data-muse-uid="U2956" data-muse-type="txt_frame" data-content-guid="u2956-4_content"><!-- content -->
                  <div id="u2956-3">
                    <p>Musical Spezialist</p>
                  </div>
                </div>
                <!-- /m_editable -->
              </div>
            </div>

          </div>

          <div class="popup_anchor" id="u2807popup">
            <div class="ContainerGroup clearfix" id="u2807"><!-- stack box -->
              <div class="Container clearfix grpelem" id="u2810"><!-- group -->
                <!-- m_editable region-id="editable-static-tag-U2959-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
                <div class="clearfix grpelem shared_content" id="u2959-6" data-muse-uid="U2959" data-muse-type="txt_frame" data-content-guid="u2959-6_content"><!-- content -->
                  <div id="u2959-5">
                    <p id="u2959-2">Gutes Reisen ist Vertrauenssache!</p>
                    <p id="u2959-4">mit Flugzeug, Bus oder Bahn</p>
                  </div>
                </div>
                <!-- /m_editable -->
              </div>
              <div class="Container invi grpelem" id="u2808"><!-- simple frame -->
              </div>
              <div class="Container invi grpelem" id="u2809"><!-- simple frame -->
              </div>
            </div>
          </div>

        </div>

