*.pyc
__pycache__
myvenv
db.sqlite3
/static
/static12
/static_OLD
/media
/uploads
/reisen/static
/home/static
db.json
reisen.json
.DS_Store
*~
*/migrations/*
*/static/*
# Docker
.docker/
mysql_data/
*.db
*.log
docker-compose.override.yml
Dockerfile
docker-compose.yml
django-inplaceeditform-1.5.0.tar.gz
init-db/
inplaceeditform/
