{% load static %}
{% load eigene_tags %}

<html>
  <head>

    <link rel="icon" href="/favicon.ico" type="image/png">

    <meta name="google-site-verification" content="7fj3OJEvNL6LI3A3bVM2mcpH3yTGvz2QuI4Ivw5qzFk" />

    <META NAME="Description"
     CONTENT="Reiseservice Reisen Flugreisen Verreisen Fliegen Urlaub Urlaubsreisen Busreisen Bus Reisedienst
              Reisebüro Reise Schwerin Mecklenburg Vorpommern Mecklenburg-Vorpommern Deutschland Norddeutschland Europa weltweit">
  <meta name='DC.Description'
     content='Reiseservice Reisen Flugreisen Verreisen Fliegen Urlaub Urlaubsreisen Busreisen Bus Reisedienst
              Reisebüro Reise Schwerin Mecklenburg Vorpommern Mecklenburg-Vorpommern Deutschland Norddeutschland Europa weltweit'>
  <META NAME="keywords"
     CONTENT="Reiseservice Reisen Flugreisen Verreisen Fliegen Urlaub Urlaubsreisen Busreisen Bus Reisedienst
              Reisebüro Reise Schwerin Mecklenburg Vorpommern Mecklenburg-Vorpommern Deutschland Norddeutschland Europa weltweit">

  <meta name='DC.Keywords'

     content='Reiseservice Reisen Flugreisen Verreisen Fliegen Urlaub Urlaubsreisen Busreisen Bus Reisedienst

              Reisebüro Reise Schwerin Mecklenburg Vorpommern Mecklenburg-Vorpommern Deutschland Norddeutschland Europa weltweit'>

  <META NAME="AUTHOR" CONTENT="Andreas Finger">

  <meta name='DC.Creator' content='Andreas Finger'>

  <META NAME="ROBOTS" CONTENT="index">

  <META HTTP-EQUIV="Language" CONTENT="de">

  <meta name='DC.Language' content='de'>

  <META NAME='Publisher' CONTENT='Reiseservice Schwerin GmbH'>

  <meta name='DC.Publisher' content='Reiseservice Schwerin GmbH'>

  <META NAME='Copyright' CONTENT='Reiseservice Schwerin GmbH'>

  <meta name='DC.Rights' content='Reiseservice Schwerin GmbH'>

  <META NAME='Robots' CONTENT='INDEX, FOLLOW'>

  <META NAME='Page-Topic' CONTENT='Reiseservice Reisen Flugreisen Verreisen Fliegen Urlaub Urlaubsreisen Busreisen Bus Reisedienst

              Reisebüro Reise Schwerin Mecklenburg Vorpommern Mecklenburg-Vorpommern Deutschland Norddeutschland Europa weltweit'>

  <META NAME='Page-Type' CONTENT=' Reisebüro Katalog Verzeichnis '>

  <META NAME='Audience' CONTENT='All'>

  <LINK REV='made' HREF='mailto:g.finger@reiseservice-schwerin.de'>

  <meta name='DC.Creator.Email' content='g.finger@reiseservice-schwerin.de'>

  <meta name='PUBLISHER-EMAIL' CONTENT='g.finger@reiseservice-schwerin.de'>

  <meta name='IDENTIFIER-URL' CONTENT='http://www.reiseservice-schwerin.de'>

  <meta name='REVISIT-AFTER' CONTENT='1 days'>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>

      Reiseservice Schwerin GmbH

    </title>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53480209-1', 'auto');
  ga('send', 'pageview');

</script>

  </head>

  <body bgcolor="2d4b9b">

    <!-- Google Tag Manager -->
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PT964S" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){
        w[l]=w[l]||[];
        w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;
        j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);
      })
      (window,document,'script','dataLayer','GTM-PT964S');
    </script>
    <!-- End Google Tag Manager -->

    <p>&nbsp;</p>
    <table align="center">

      <tr>
        <td width="15%"></td>
        <td width="45%" align="center">
          <font size="4" face="Verdana" color="white">
                Herzlich Willkommen auf den Internetseiten der<br />
                <br />
                ... dem Reiseb&uuml;ro in Schwerin!
              </font>
            </td>
            <td width="25%" align="left">
              <img src="images/logo_klein.gif" border="0" height="82" width="294" vspace="10" hspace="5">
            </td>
            <td width="15%"></td>
          </tr>

      <tr>
        <td width="15%"></td>
        <td colspan="2" width="70%" align="right" valign="top">
          <hr />
        </td>
        <td width="15%"></td>
      </tr>

      <tr>
        <td width="15%">
        </td>
        <td colspan="2" width="70%" align="center" valign="top">
        <font size="4" face="Verdana" color="white">
          <a href="./rss2/reisen/sommer20/" style="color:white; text-decoration:none; font-size:large; font-weight:bold">Sommer 2020</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="./rss2/reisen/winter2021/" style="color:white; text-decoration:none; font-size:large; font-weight:bold">Winter & Frühjahr 2020 / 2021</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="./rss2/reisen/tagesfahrten" style="color:white; text-decoration:none; font-size:large; font-weight:bold">Tagesfahrten</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="./musicals.html" style="color:white; text-decoration:none; font-size:large; font-weight:bold"><b>Musicalfahrten</b></a>
        </font>
        </td>
        <td width="15%">
        </td>
      </tr>

      <tr>
        <td width="15%"></td>
        <td colspan="2" width="70%" align="right" valign="top">
          <hr />
        </td>
        <td width="15%"></td>
      </tr>

      <tr>
        <td width="15%"></td>
        <td width="45%" align="center">
              <!-- <img name="team" onMouseOver="team.src='images/team_1.jpg'" onMouseOut="team.src='images/buero.jpg'" src="images/buero.jpg" border="0" vspace="20" hspace="20"> -->
              <!-- <img name="buero" src="images/buero.jpg" border="0" vspace="20" hspace="20"> -->
          <div style="font-size:large; color:white; font-family: verdana;"><b>Der neue Katalog Winter und Frühjahr 2020 & 2021 ist da!</b></br>Zur Abholung im Büro, Versand per Post oder <a href="/media/kataloge/2021_winter/reiseservice-schwerin-katalog-winter_2021.pdf" style="color:white; font-size:large">Download</a>.</div>

          <!-- <div><img src="./images/titelfolie_sommer17_height300.png" border="0" vspace="20" hspace="20"></div> -->
          <div>
            <a href="/media/kataloge/2021_winter/reiseservice-schwerin-katalog-winter_2021.pdf">
              <!-- <img src="./media/images/web/gruppenfoto-2018_klein.jpg" height="77%" width="77%" border="0" vspace="20" hspace="20"> -->
              <!-- <img src="./media/images/web/Titelbild_2020_4x3.jpg" height="50%" width="50%" border="0" vspace="20" hspace="20">-->
              <!-- <img src="./media/images/web/Titelbild_2020_4x3.jpg" height="375px" width="500px" border="0" vspace="20" hspace="20"> -->
              <img src="./media/kataloge/2021_winter/winter_2021_cover_klein.png" height="569px" width="400px" border="0" vspace="20" hspace="20">
            </a>
          </div>
          <!-- <div><img src="./images/titelfolie_sommer17_height300.png" border="0" vspace="20" hspace="20"></div> -->
          <!-- <div style="font-size:large; color:white; font-family: verdana;">Vielen Dank für Ihre Glückwünsche!</br>Es war ein schönes Fest.</div> -->
            </td>
            <td width="25%" align="left">
          <font size="4" face="Verdana" color="white">
          Reiseservice Schwerin GmbH<br>
          Kl&ouml;resgang 1<br>
          19053 Schwerin<br><br>
          Tel.: 0385 / 5910333<br>
          Fax: 0385 / 5910331<br><br>
          <a href="mailto:info@reiseservice-schwerin.de" style="color:white">info@reiseservice-schwerin.de</a>
          <br /><br />
          &Ouml;ffnungszeiten:<br />
          Wegen Corona-Pandemie vorübergehend eingeschränkte Öffnungszeiten!</br>
          <!-- Bis 19.04. donnerstag von 10:00 - 16:00 Uhr<br/>-->
          </font>
          <table>
            <tr>
              <td>
                <font size="4" face="Verdana" color="white">
                  Mo. - Fr.&nbsp;&nbsp;&nbsp;
                </font>
              </td>
              <td>
                <font size="4" face="Verdana" color="white">
                  10:00 - 16:00 Uhr
                </font>
              </td>
            </tr>
<!--            <tr>
              <td>
                <font size="4" face="Verdana" color="white">
                  Sa.&nbsp;&nbsp;&nbsp;
                </font>
              </td>
              <td>
                <font size="4" face="Verdana" color="white">
                  10:00 - 14:00 Uhr
                </font>
              </td>
            </tr>
-->
          </table>
          <font size="2" face="Verdana" color="white">
            <br />
            <a href="./impressum.html" style="color:white">Impressum&nbsp;/&nbsp;Haftungsausschlu&szlig;</a>
            <br />
            <a href="./datenschutz.html" style="color:white">Datenschutz</a>
          </font>
            </td>
            <td width="15%"></td>
          </tr>
        </table>

    <table align="center">

      <tr>
        <td width="15%"></td>
        <td colspan="2" width="70%" align="right" valign="top">
          <hr />
          <br />
        </td>
        <td width="15%"></td>
      </tr>

      <tr>
        <td width="15%" align="right" valign="top">
          <font size="4" face="Verdana" color="white">
          </font>
        </td>
        <td width="25%" align="right" valign="top">
          <font size="4" face="Verdana" color="white">
            Aktuelles:&nbsp;&nbsp;&nbsp;
          </font>
            </td>
            <td width="45%" align="left">
              <p align="justify">
            <font size="3" face="Verdana" color="white">

              <b style="font-size:large">Unsere Reiseempfehlungen:</b>
              <br/><br/>

                  {% for aktuelleReise in aktuelleReisen %}
                    {{ aktuelleReise.0 }}</br> 
                    {{ aktuelleReise.1 }}</br>
                    {{ aktuelleReise.2 }}</br>
                    {{ aktuelleReise.3 }}</br></br>
                  {% endfor %}

             </font>
           </p>
            </td>
            <td width="15%"></td>
          </tr>

      <tr>
        <td width="15%"></td>
        <td colspan="2" width="70%" align="right" valign="top">
          <hr />
          <br />
        </td>
        <td width="15%"></td>
      </tr>

      <tr>
        <td width="15%"></td>
        <td width="25%" align="right" valign="top">
          <font size="4" face="Verdana" color="white">
            <!-- Unsere Kataloge f&uuml;r Sie:&nbsp;&nbsp;&nbsp; -->
            Unser Angebot f&uuml;r Sie:&nbsp;&nbsp;&nbsp;
          </font>
            </td>
            <td width="45%" align="left">
          <font size="4" face="Verdana" color="white">

              <a href="./rss2/reisen/sommer20/" style="color:white; text-decoration:none; font-size:large; font-weight:bold">Sommer 2020</a>
              <br /><br />
             <a href="/rss2/reisen/winter2021" style="color:white; text-decoration:none; font-size:large; font-weight:bold">Winter & Frühjahr 2020 / 2021</a>
             <br /><br />
                  <a href="./rss2/reisen/tagesfahrten" style="color:white; text-decoration:none; font-size:large; font-weight:bold">Tagesfahrten</a>
                  <br /><br />
                  <a href="./musicals.html" style="color:white; text-decoration:none; font-size:large; font-weight:bold"><b>Musicalfahrten</b></a>
                  <br><br>
              </font>
            </td>
            <td width="15%"></td>
          </tr>
      <tr>
        <td width="15%"></td>
        <td colspan="2" width="70%" align="right" valign="top">
          <hr />
          <br />
        </td>
        <td width="15%"></td>
      </tr>

      <tr>
        <td width="15%"></td>
        <td width="25%" valign="top" align="right">
          <font size="4" face="Verdana" color="white">
            Verweise zu Partnern:&nbsp;&nbsp;&nbsp;
          </font>
            </td>
            <td width="45%" align="left">
          <font size="2" face="Verdana" color="white">
              <a href="http://www.onlineweg.de/reiseservice-schwerin/" target="_blank" style="color:white; font-size:larger">onlineweg.de</a>
              Hier k&ouml;nnen Sie g&uuml;nstige Flug- und Schiffsreisen, Mietwagen und Ferienh&auml;user buchen - 24 Stunden am Tag, 365 Tage im Jahr!
              <br>
              <!--
              <a href="http://www.dansommer.de/dansommer?L=0&B=2003732" target="_blank" style="color:white; font-size:larger">Dansommer</a>
              -->
              <a href="http://www.dancenter.de/?ag=2003732" target="_blank" style="color:white; font-size:larger" rel="nofollow">DanCenter Ferienhäuser in Dänemark</a>
              <br>
              <i>"Der Ferienhausurlaub mit der besonderen Note in Skandinavien"</i>
              <br>
              <a href="http://www.novasol.de/novasol?A=2003732" target="_blank" style="color:white; font-size:larger">Novasol</a>
              <br>
              <i>"Der Ferienhausurlaub f&uuml;r Familie, Hund & Co. in Europa"</i>
              <br>
              Sie k&ouml;nnen bei uns auch Ferienh&auml;user in Skandinavien und ganz Europa buchen. Besuchen Sie
              uns im Reiseb&uuml;ro oder buchen Sie direkt im Internet und klicken Sie oben auf den gew&uuml;nschten Verweis.
              </font>
              <br /><br />
            </td>
            <td width="15%"></td>
          </tr>


      <tr>
        <td width="15%"></td>
        <td colspan="2" width="70%" align="right" valign="top">
          <hr />
          <br />
        </td>
        <td width="15%"></td>
      </tr>

        </table>

  </body>

</html>

