{% load static %}
{% load inplace_edit %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//DE">
<html lang="de">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=1, minimum-scale=0.65, user-scalable=1">
    <title>Reisen</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" /> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/aktuelles.css' %}">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'galleria/themes/classic/galleria.classic.css' %}">
    <link rel="stylesheet" href="{% static 'flexslider/flexslider.css' %}">

    <!-- Place either at the bottom in the <head> of your page or inside your CSS -->
    <style type="text/css">
      .flex-caption {
        width: 96%;
        padding: 2%;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,.3);
        font-size: 14px;
        line-height: 18px;
      }
      li.css a {
        border-radius: 0;
      }
    </style>
</head>

<body data-media-url="{% get_media_prefix %}">
    <div class="page-header">
      <a href="/"><img src="{% static "images/logo_klein.gif" %}" alt="Reiseservice Schwerin"/></a>
      <!-- <h1><a href="/">Reiseservice Schwerin</a></h1> -->
<!--
      {% if user.is_authenticated %}
      <a href="{% url 'aktuell_neu' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
      <a href="{% url "aktuell_draft_list" %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
      <p class="top-menu">Eingeloggt als: {{ user.username }} <small> <a href="{% url "django.contrib.auth.views.logout" %}">abmelden</a></small></p>
      {% else %}
      <a href="{% url "django.contrib.auth.views.login" %}" class="top-menu"><span class="glyphicon glyphicon-lock"></a>
      {% endif %}
-->
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
              {% block content %}
              {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
