{% load static %}
{% load eigene_tags %}
<html>
  <head>
    <title>Reisetermine 2026</title>
    <style>
      .rTable {
        display: table;
        /*width: 100%;*/
      }
      .rTableRow {
        display: table-row;
      }
      .rTableHeading {
        display: table-header-group;
        background-color: #ddd;
      }
      .rTableCell, .rTableHead {
        display: table-cell;
        padding: 3px 10px;
        border: 1px solid #999999;
      }
      .rTableHeading {
        display: table-header-group;
        background-color: #ddd;
        font-weight: bold;
      }
      .rTableFoot {
        display: table-footer-group;
        font-weight: bold;
        background-color: #ddd;
      }
      .rTableBody {
        display: table-row-group;
      }
    </style>
  </head>
  <body style="font-family: TrajanPro-Regular, 'Lucida Grande', sans-serif;">
    <div>
      <h1>Reisetermine 2026</h1>
    </div>
    <div class="rTable">
      <div class="rTableHeading">
        <div class="rTableHead"></div>
        <div class="rTableHead">Termin</div>
        <div class="rTableHead">Tage</div>
        <div class="rTableHead">Reiseziel</div>
        <div class="rTableHead">Seite</div>
        <div class="rTableHead">Setzen</div>
      </div>
      <div class="rTableBody">
      {% for termin in termine %}
       {% if termin.datum_beginn|date:'Y' not in '2025' %}
        {% if termin.Monat %}
        <div class="rTableRow" style="background-color: #ddd;">
          <div class="rTableCell"></div>
          <div class="rTableCell"><b>{{ termin.Monat }}</b></div>
          {% if termin.Monat = 'Februar' %}
            <div class="rTableCell"></div><div class="rTableCell"><b>(Winterferien 01.02. - 16.02.2025)</b></div><div class="rTableCell"></div><div class="rTableCell"></div>
          {% elif termin.Monat = 'April' %}
            <div class="rTableCell"></div><div class="rTableCell"><b>(Osterferien 12.04. - 23.04.2025)</b></div><div class="rTableCell"></div><div class="rTableCell"></div>
          {% elif termin.Monat = 'Mai' %}
            <div class="rTableCell"></div><div class="rTableCell"><b>(Himmelfahrt 29.05. - 01.06.2025)</b></div><div class="rTableCell"></div><div class="rTableCell"></div>
          {% elif termin.Monat = 'Juni' %}
            <div class="rTableCell"></div><div class="rTableCell"><b>(Pfingstferien 06.06. - 10.06.2025)</b></div><div class="rTableCell"></div><div class="rTableCell"></div>
          {% elif termin.Monat = 'Juli' %}
            <div class="rTableCell"></div><div class="rTableCell"><b>(Sommerferien 26.07. - 07.09.2025)</b></div><div class="rTableCell"></div><div class="rTableCell"></div>
          {% elif termin.Monat = 'August' %}
            <div class="rTableCell"></div><div class="rTableCell"><b>(Sommerferien 26.07. - 07.09.2025)</b></div><div class="rTableCell"></div><div class="rTableCell"></div>
          {% elif termin.Monat = 'September' %}
            <div class="rTableCell"></div><div class="rTableCell"><b>(Sommerferien 26.07. - 07.09.2025)</b></div><div class="rTableCell"></div><div class="rTableCell"></div>
          {% elif termin.Monat = 'Oktober' %}
            <div class="rTableCell"></div><div class="rTableCell"><b>(Herbstferien 02.10. - 05.10.2025 &amp; 18.10. - 26.10.2025)</b></div><div class="rTableCell"></div><div class="rTableCell"></div>
          {% else %}
            <div class="rTableCell"></div><div class="rTableCell"></div><div class="rTableCell"></div><div class="rTableCell"></div>
          {% endif %}
          </div>
        </div>
        {% endif %}
        {% if termin.Termin != '' %}
        <div class="rTableRow">
          <div class="rTableCell">{% if termin.neu %}Neu{% endif %}</div>
          {% if termin.Termin %}
          <div class="rTableCell">{{ termin.Termin }}</div>
          {% endif %}
          {% if termin.Tage %}
          <div class="rTableCell" style="text-align: right; width: 40px">{{ termin.Tage }}</div>
          {% endif %}
          {% if termin.Reiseziel %}
            {% if 'Rigoletto' in termin.Reiseziel and termin.Termin == '26.03.-28.03.21' %}
          <div class="rTableCell"><a href="{% url 'reise_detail' pk=termin.pk %}" style="text-decoration:none;" target = 'blank'>Rigoletto in der Semperoper in Dresden</a></div>
            {% elif 'Rigoletto' in termin.Reiseziel and termin.Termin == '25.06.-27.06.21' %}
          <div class="rTableCell"><a href="{% url 'reise_detail' pk=termin.pk %}" style="text-decoration:none;" target = 'blank'>Der Freischütz in der Semperoper in Dresden</a></div>
            {% else %}
          <div class="rTableCell"><a href="{% url 'reise_detail' pk=termin.pk %}" style="text-decoration:none;" target = 'blank'>{{ termin.Reiseziel }}</a></div>
            {% endif %}
          {% endif %}
          {% if termin.Seite %}
            {% if 'Kuren' in termin.Reiseziel %}
          <div class="rTableCell" style="text-align: right; width: 40px">117-119</div>
            {% else %}
          <div class="rTableCell" style="text-align: right; width: 40px">{{ termin.Seite }}</div>
            {% endif %}
          {% elif 'Kuren' in termin.Reiseziel %}
          <div class="rTableCell" style="text-align: right; width: 40px">117-119</div>
          {% else %}
          <div class="rTableCell" style="text-align: right; width: 40px">n.b.</div>
          {% endif %}
          {% if 'mmgd' in termin.intern %}
          <div class="rTableCell" style="text-align: right; width: 40px">jupp</div>
          {% else %}
          <div class="rTableCell" style="text-align: right; width: 40px">n&ouml;</div>
          {% endif %}
        </div>
        {% endif %}
       {% endif %}
      {% endfor %}
      </div>
    </div>
  </body>
</html>
