                                        <table id="example" class="display tagbeschreibung" cellspacing="0" width="100%">
                                          <thead>
                                            <tr>
                                              <th style="border-bottom: 0px solid #000080;">Ordnung</th>
                                              <th style="border-bottom: 0px solid #000080;">Termin</th>
                                              <th style="border-bottom: 0px solid #000080;">Dauer</th>
                                              <th style="border-bottom: 0px solid #000080;">Ü/VP p.P. im DZ</th>
                                              <th style="border-bottom: 0px solid #000080;">EZ-Zuschlag</th>
                                              <th style="border-bottom: 0px solid #000080;">Zuschlag gr. DZ</th>
                                            </tr>
                                          </thead>
                                          <tfoot>
                                            <tr>
                                              <th style="border-top: 0px solid #000080;">Ordnung</th>
                                              <th style="border-top: 0px solid #000080;">Termin</th>
                                              <th style="border-top: 0px solid #000080;">Dauer</th>
                                              <th style="border-top: 0px solid #000080;">Ü/VP p.P. im DZ</th>
                                              <th style="border-top: 0px solid #000080;">EZ-Zuschlag</th>
                                              <th style="border-top: 0px solid #000080;">Zuschlag gr. DZ</th>
                                            </tr>
                                          </tfoot>
                                          <tbody>
                                            <tr>
                                              <td>1</td>
                                              <td>03. 02. - 17. 02. 2018</td>
                                              <td>8 Tage</td>
                                              <td>414 &euro;</td>
                                              <td>63 &euro;</td>
                                              <td>21 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>2</td>
                                              <td>03. 02. - 17. 02. 2018</td>
                                              <td>15 Tage</td>
                                              <td>662 &euro;</td>
                                              <td>126 &euro;</td>
                                              <td>42 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>3</td>
                                              <td>10. 02. - 17. 02. 2018</td>
                                              <td>8 Tage</td>
                                              <td>414 &euro;</td>
                                              <td>63 &euro;</td>
                                              <td>21 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>4</td>
                                              <td>10. 02. - 24. 02. 2018</td>
                                              <td>15 Tage</td>
                                              <td>662 &euro;</td>
                                              <td>126 &euro;</td>
                                              <td>42 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>5</td>
                                              <td>17. 02. - 24. 02. 2018</td>
                                              <td>8 Tage</td>
                                              <td>414 &euro;</td>
                                              <td>63 &euro;</td>
                                              <td>21 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>6</td>
                                              <td>17. 02. - 03. 03. 2018</td>
                                              <td>15 Tage</td>
                                              <td>687 &euro;</td>
                                              <td>126 &euro;</td>
                                              <td>42 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>7</td>
                                              <td>24. 02. - 03. 03. 2018</td>
                                              <td>8 Tage</td>
                                              <td>438 &euro;</td>
                                              <td>63 &euro;</td>
                                              <td>21 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>8</td>
                                              <td>03. 03. - 10. 03. 2018</td>
                                              <td>8 Tage</td>
                                              <td>438 &euro;</td>
                                              <td>63 &euro;</td>
                                              <td>21 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>9</td>
                                              <td>03. 03. - 17. 03. 2018</td>
                                              <td>15 Tage</td>
                                              <td>711 &euro;</td>
                                              <td>126 &euro;</td>
                                              <td>42 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>10</td>
                                              <td>10. 03. - 17. 03. 2018</td>
                                              <td>8 Tage</td>
                                              <td>438 &euro;</td>
                                              <td>63 &euro;</td>
                                              <td>21 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>11</td>
                                              <td>10. 03. - 24. 03. 2018</td>
                                              <td>15 Tage</td>
                                              <td>711 &euro;</td>
                                              <td>126 &euro;</td>
                                              <td>42 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>12</td>
                                              <td>17. 03. - 24. 03. 2018</td>
                                              <td>8 Tage</td>
                                              <td>438 &euro;</td>
                                              <td>63 &euro;</td>
                                              <td>21 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>13</td>
                                              <td>17. 03. - 31. 03. 2018</td>
                                              <td>15 Tage</td>
                                              <td>711 &euro;</td>
                                              <td>126 &euro;</td>
                                              <td>42 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>14</td>
                                              <td>24. 03. - 31. 03. 2018</td>
                                              <td>8 Tage</td>
                                              <td>438 &euro;</td>
                                              <td>63 &euro;</td>
                                              <td>21 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>15</td>
                                              <td>05. 05. - 19. 05. 2018</td>
                                              <td>15 Tage</td>
                                              <td>913 &euro;</td>
                                              <td>154 &euro;</td>
                                              <td>42 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>16</td>
                                              <td>19. 05. - 02. 06. 2018</td>
                                              <td>15 Tage</td>
                                              <td>961 &euro;</td>
                                              <td>168 &euro;</td>
                                              <td>49 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>17</td>
                                              <td>15. 09. - 29. 09. 2018</td>
                                              <td>15 Tage</td>
                                              <td>919 &euro;</td>
                                              <td>154 &euro;</td>
                                              <td>42 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>18</td>
                                              <td>29. 09. - 13. 10. 2018</td>
                                              <td>15 Tage</td>
                                              <td>919 &euro;</td>
                                              <td>154 &euro;</td>
                                              <td>42 &euro;</td>
                                            </tr>
                                            <tr>
                                              <td>19</td>
                                              <td>13. 10. - 27. 10. 2018</td>
                                              <td>15 Tage</td>
                                              <td>919 &euro;</td>
                                              <td>154 &euro;</td>
                                              <td>42 &euro;</td>
                                            </tr>
                                          </tbody>
                                        </table>
