                                        <table id="example" class="display tagbeschreibung" cellspacing="0" width="100%">
                                          <thead>
                                            <tr>
                                              <th style="border-bottom: 0px solid #000080;">Ordnung</th>
                                              <th style="border-bottom: 0px solid #000080;">Termin</th>
                                              <th style="border-bottom: 0px solid #000080;">Dauer</th>
                                              <th style="border-bottom: 0px solid #000080;">Ü/VP p.P. im DZ</th>
                                              <th style="border-bottom: 0px solid #000080;">EZ-Zuschlag</th>
                                            </tr>
                                          </thead>
                                          <tfoot>
                                            <tr>
                                              <th style="border-top: 0px solid #000080;">Ordnung</th>
                                              <th style="border-top: 0px solid #000080;">Termin</th>
                                              <th style="border-top: 0px solid #000080;">Dauer</th>
                                              <th style="border-top: 0px solid #000080;">Ü/VP p.P. im DZ</th>
                                              <th style="border-top: 0px solid #000080;">EZ-Zuschlag</th>
                                            </tr>
                                          </tfoot>
                                          <tbody>
                                            <tr>
                                              <td>1</td>
                                              <td>05. 11. - 12. 11. 2016</td>
                                              <td>8 Tage</td>
                                              <td>397,-</td>
                                              <td>35,-</td>
                                            </tr>
                                            <tr>
                                              <td>2</td>
                                              <td>05. 11. - 19. 11. 2016</td>
                                              <td>15 Tage</td>
                                              <td>647,-</td>
                                              <td>35,-</td>
                                            </tr>
                                            <tr>
                                              <td>3</td>
                                              <td>12. 11. - 19. 11. 2016</td>
                                              <td>8 Tage</td>
                                              <td>373,-</td>
                                              <td>-</td>
                                            </tr>
                                            <tr>
                                              <td>4</td>
                                              <td>12. 11. - 26. 11. 2016</td>
                                              <td>15 Tage</td>
                                              <td>598,-</td>
                                              <td>-</td>
                                            </tr>
                                            <tr>
                                              <td>5</td>
                                              <td>19. 11. - 26. 11. 2016</td>
                                              <td>8 Tage</td>
                                              <td>373,-</td>
                                              <td>-</td>
                                            </tr>
                                            <tr>
                                              <td>6</td>
                                              <td>19. 11. - 03. 12. 2016</td>
                                              <td>15 Tage</td>
                                              <td>579,-</td>
                                              <td>-</td>
                                            </tr>
                                            <tr>
                                              <td>7</td>
                                              <td>26. 11. - 03. 12. 2016</td>
                                              <td>8 Tage</td>
                                              <td>349,-</td>
                                              <td>-</td>
                                            </tr>
                                            <tr>
                                              <td>8</td>
                                              <td>04. 02. - 11. 02. 2017</td>
                                              <td>8 Tage</td>
                                              <td>384,-</td>
                                              <td>21,-</td>
                                            </tr>
                                            <tr>
                                              <td>9</td>
                                              <td>04. 02. - 18. 02. 2017</td>
                                              <td>15 Tage</td>
                                              <td>645,-</td>
                                              <td>42,-</td>
                                            </tr>
                                            <tr>
                                              <td>10</td>
                                              <td>11. 02. - 18. 02. 2017</td>
                                              <td>8 Tage</td>
                                              <td>384,-</td>
                                              <td>21,-</td>
                                            </tr>
                                            <tr>
                                              <td>11</td>
                                              <td>18. 02. - 25. 02. 2017</td>
                                              <td>8 Tage</td>
                                              <td>384,-</td>
                                              <td>21,-</td>
                                            </tr>
                                            <tr>
                                              <td>12</td>
                                              <td>18. 02. - 04. 03. 2017</td>
                                              <td>15 Tage</td>
                                              <td>678,-</td>
                                              <td>56,-</td>
                                            </tr>
                                            <tr>
                                              <td>13</td>
                                              <td>25. 02. - 04. 03. 2017</td>
                                              <td>8 Tage</td>
                                              <td>416,-</td>
                                              <td>35,-</td>
                                            </tr>
                                            <tr>
                                              <td>14</td>
                                              <td>04. 03. - 18. 03. 2017</td>
                                              <td>15 Tage</td>
                                              <td>710,-</td>
                                              <td>70,-</td>
                                            </tr>
                                            <tr>
                                              <td>15</td>
                                              <td>18. 03. - 01. 04. 2017</td>
                                              <td>15 Tage</td>
                                              <td>743,-</td>
                                              <td>70,-</td>
                                            </tr>
                                            <tr>
                                              <td>16</td>
                                              <td>29. 04. - 13. 05. 2017</td>
                                              <td>15 Tage</td>
                                              <td>811,-</td>
                                              <td>98,-</td>
                                            </tr>
                                            <tr>
                                              <td>17</td>
                                              <td>13. 05. - 27. 05. 2017</td>
                                              <td>15 Tage</td>
                                              <td>875,-</td>
                                              <td>98,-</td>
                                            </tr>
                                            <tr>
                                              <td>18</td>
                                              <td>02. 09. - 16. 09. 2017</td>
                                              <td>15 Tage</td>
                                              <td>924,-</td>
                                              <td>98,-</td>
                                            </tr>
                                            <tr>
                                              <td>19</td>
                                              <td>16. 09. - 30. 09. 2017</td>
                                              <td>15 Tage</td>
                                              <td>924,-</td>
                                              <td>98,-</td>
                                            </tr>
                                            <tr>
                                              <td>20</td>
                                              <td>30. 09. - 14. 10. 2017</td>
                                              <td>15 Tage</td>
                                              <td>827,-</td>
                                              <td>98,-</td>
                                            </tr>
                                            <tr>
                                              <td>21</td>
                                              <td>14. 10. - 28. 10. 2017</td>
                                              <td>15 Tage</td>
                                              <td>758,-</td>
                                              <td>98,-</td>
                                            </tr>
                                          </tbody>
                                        </table>
