{% load static %}
{% load eigene_tags %}

<html>

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reiseservice Schwerin GmbH - aktuelle Tagesfahrten</title>
    <script type="application/ld+json">
    {
                  "@context": "http://schema.org",
                  "@type": "Organization",
                  "name": "Reiseservice Schwerin",
                  "url": "http://www.reiseservice-schwerin.de",
                  "logo": "{% static 'images/LogoRSS2021_LogoGold.png' %}",
                  "sameAs": [
                                "https://www.facebook.com/ReiseserviceSchwerin-2866443210034243",
                                "https://www.instagram.com/reiseserviceschwerin/"
                  ]
    }
    </script>
    <link href="/src/bus.css" rel="stylesheet" media="screen">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53480209-1', 'auto');
      //ga('set', 'anonymizeIp', true);
      //ga('send', 'pageview', {'anonymizeIp': true});
      ga('send', 'pageview');
    </script>

  </head>

  <body bgcolor="#2d4b9b">

    <center>

      <table align="center" width="700">
        <tr>
          <td align="center">
            <a href="/index.html">
              <img src="/images/logo-rss-2021.png" border="0" height="294" width="294" vspace="10" hspace="5">
            </a>
          </td>
        </tr>
        <tr>
          <td align="center">
            <font size="4" face="Verdana" color="white">
              <b>aktuelle Tagesfahrten ...</b>
            </font>
          </td>
        </tr>
      </table>

      <br />

      <table align="center">
        <tr>
          <td colspan="2" width="70%" align="center" valign="top" style="color:white; font-family: Verdana">
            zur&uuml;ck zu:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>
              <a href="/index.html" style="color:white; text-decoration:none; font-family: Verdana">Startseite</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/rss2/reisen/sommer25/" style="color:white; text-decoration:none; font-family: Verdana">Sommer 2025</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/rss2/reisen/winter2526" style="color:white; text-decoration:none; font-family: Verdana">Winter & Frühjahr 2025 / 2026</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/musicals.html" style="color:white; text-decoration:none; font-family: Verdana">Musicalfahrten</a>
      	    </b>
          </td>
        </tr>
      </table>

      <br />

      <table bgcolor="ffffff" gridy="16" gridx="16" border="0" cellpadding="0" cellspacing="0" width="700">

        <tbody>

          <tr>
            <td align="center" valign="top" width="700">
              <table border="0" cellpadding="1" cellspacing="3" width="700">
                <tbody>
                  <tr>
                    <td colspan="3" bgcolor="#9999cc" height="20">
                      <div align="center">
                        <a name="oben"></a>
                        <span class="ht2"></span>
                      </div>
                    </td>
                  </tr>

<!-- +++++++++++++++++++++++++++++++++++++ Link zu Hinweisen und Reisebedingungen +++++++++++++++++++++++++++++++++++++ -->
                  <tr>
                    <td colspan="3" bgcolor="#cccccc">
                      <div align="center">
                        <span class="ht1">
                          Beachten Sie unsere
                          <a href="/wichtiges.html">Hinweise</a>
                          und
                          <a href="/reisebedingungen.html">Reisebedingungen</a>
                          !
                        </span>
                        <p>
                          Bitte stellen Sie Ihre Buchungsanfrage per Email an <a href="mailto:info@reiseservice-schwerin.de">info@reiseservice-schwerin.de</a>
                        </p>
                        <p>
                          oder &uuml;ber <span class="ht1">Tel. 0385 / 591 03 33</span>
                      	</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" bgcolor="#cccccc">
                      <div align="center">
                        <span class="ht1">
                          <p>
                            <span class="ht1">Bitte erfragen Sie auch einen Zustieg in der Schweriner Weststadt!</span>
                          </p>
                          <p>
                            <span class="ht1">Abfahrten ab Gadebusch „Wasserwerk“ möglich!</span>
                          </p>
                        </span>
                      </div>
                    </td>
                  </tr>

                  {% for tagesfahrt in tagesfahrten %}

                    {% if tagesfahrt.monat != 0 %}

                  <!-- +++++++++++++++++++++ {{ tagesfahrt.datum_beginn|date:"m" }} +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                  <tr>
                    <td colspan="3" bgcolor="#9999cc" height="20">
                      <div align="center">
                        <a name="oben"></a>
                          {% now "F" as current_month %}
                          {% now "n" as current_month_numeric %}
                          {% if tagesfahrt.datum_beginn|date:"F" == current_month  or tagesfahrt.datum_beginn|date:"n"|add:"0" == current_month_numeric|add:"1" %}
                          <span class="ht2"><a name="{{ tagesfahrt.datum_beginn|date:'F' }}" style="color:navy; text-decoration:none; font-size:large">{{ tagesfahrt.datum_beginn|date:'F' }}</a></span>
                          {% else %}
                          <span class="ht2">Vorschau {{ tagesfahrt.datum_beginn|date:"F" }} (wird ergänzt)</span>
                          {% endif %}
                      </div>
                    </td>
                  </tr>

                    {% endif %} 

                  <!--
                             {{ tagesfahrt.reisedaten.titel }}
                  -->
                  <fahrt>
                    <tr>
                      <td valign="top" align="left" width="200" bgcolor="#ccccff">
                        <span class="ht1">
                          {{ tagesfahrt.datum_beginn|date:"D., d.m.Y" }}
                        </span>
                      </td>
                      <td colspan="2" align="left" bgcolor="#ccccff" height="19" width="500">
                        <p class="ht1">
                          <a href="#oben"><img src="/images/top.gif" align="right" border="0" height="18" width="19"></a>
                            {{ tagesfahrt.reisedaten.titel }}</br>
                            {% if tagesfahrt.reisedaten.untertitel %}
                              {{ tagesfahrt.reisedaten.untertitel }}</br>
                            {% endif %}
                            {% if tagesfahrt.reisedaten.einleitung %}
                              {{ tagesfahrt.reisedaten.einleitung }}</br>
                            {% endif %}
                            {% if tagesfahrt.reisedaten.veranstalter != 'RS' %}
                              {% if tagesfahrt.reisedaten.veranstalter = 'SH' %}
                              <i>Veranstalter: Sewert Reisen</i>
                              {% endif %}
                            {% endif %}
                            {% if tagesfahrt.hinweise %}
                              {% for hinweis in tagesfahrt.hinweise %}
                                <i>{{ hinweis.hinweis }}</i></br>
                              {% endfor %}
                            {% endif %}
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top" align="left">
                        <span class="ht1">
                          Abfahrt:
                        </span>
                      </td>
                      <td valign="top" align="left">
                        <span class="ht1">
                          {% for zeit in tagesfahrt.abfahrtszeiten %}
                            {% if zeit.ort != 'ANK' %}
                              {% if 'Mi' in tagesfahrt.datum_markierung and forloop.counter == 1 %}
                                13:40 Uhr {{ zeit.ort|abfahrtsorte }}</br>
                              {% elif 'Mi' in tagesfahrt.datum_markierung and forloop.counter == 2 %}
                                14:30 Uhr {{ zeit.ort|abfahrtsorte }}</br>
                              {% elif 'Mi' in tagesfahrt.datum_markierung and forloop.counter == 3 %}
                                15:00 Uhr {{ zeit.ort|abfahrtsorte }}</br>
                              {% elif 'So' in tagesfahrt.datum_markierung and forloop.counter == 1 %}
                                09:40 Uhr {{ zeit.ort|abfahrtsorte }}</br>
                              {% elif 'So' in tagesfahrt.datum_markierung and forloop.counter == 2 %}
                                10:30 Uhr {{ zeit.ort|abfahrtsorte }}</br>
                              {% elif 'So' in tagesfahrt.datum_markierung and forloop.counter == 3 %}
                                11:00 Uhr {{ zeit.ort|abfahrtsorte }}</br>
                              {% else %}
                                {{ zeit.zeit }} Uhr {{ zeit.ort|abfahrtsorte }}</br>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </span>
                      </td>
                      <td rowspan="2" valign="top" align="right" width="200">
                        <span class="ht1">
                          {% for preis in tagesfahrt.preise %}
                            {% if preis.markierung %}
                              {% if preis.markierung == tagesfahrt.datum_markierung %}
                                {{ preis.preistitel }}: {% if preis.kommentar %}{{ preis.kommentar }} {% endif %}{{ preis.preis }} &euro;</br>
                              {% endif %}
                            {% else %}
                              {{ preis.preistitel }}: {% if preis.kommentar %}{{ preis.kommentar }} {% endif %}{{ preis.preis }} &euro;</br>
                            {% endif %}
                          {% endfor %}
                          </br>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top" align="left">
                        <span class="ht1">
                          Ankunft:
                        </span>
                      </td>
                      <td valign="top" align="left">
                        <span class="ht1">
                          {% for zeit in tagesfahrt.abfahrtszeiten %}
                            {% if zeit.ort == 'ANK' %}
                              {% if 'Mi' in tagesfahrt.datum_markierung  %}
                                ca. 00:00 Uhr in Schwerin</br>
                              {% elif 'So' in tagesfahrt.datum_markierung  %}
                                ca. 21:00 Uhr in Schwerin</br>
                              {% else %}
                                ca. {{ zeit.zeit }} Uhr in Schwerin</br>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </span>
                      </td>
                    </tr>
                  </fahrt>

                  {% endfor %}

		  <!-- ++++++++++++++++++++++++++++ Link zu Hinweisen und Reisebedingungen +++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                  <tr>
                    <td colspan="3" bgcolor="#cccccc">
                      <div align="center">
                        <span class="ht1">
                          Beachten Sie unsere
                          <a href="./wichtiges.html">Hinweise</a>
                          und
                          <a href="./reisebedingungen.html">Reisebedingungen</a>
                          !
                        </span>
                        <p>
                          Bitte stellen Sie Ihre Buchungsanfrage per Email an <a href="mailto:info@reiseservice-schwerin.de">info@reiseservice-schwerin.de</a>
                        </p>
                        <p>
                          oder &uuml;ber <span class="ht1">Tel. 0385 / 591 03 33</span>
                        </p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <center>
                        <table gridy="16" gridx="16" align="center" border="0" cellpadding="0" cellspacing="0" width="700">
                          <tbody>
                            <tr>
                              <td xpos="0" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="2" width="700">
                                  <tbody>
                                    <tr>
                                      <td colspan="2"><hr></td>
                                    </tr>

<!-- +++++++++++++++++++++++++++++++++++++ Kontaktdaten +++++++++++++++++++++++++++++++++++++ -->
								                    <tr>
                                      <td>
                                        <p class="st1">
                                          Reiseservice Schwerin GmbH<br>
                                          Kl&ouml;resgang 1<br>
                                          19053 Schwerin
                                        </p>
                                      </td>
                                      <td align="right">
                                        <p class="st2">
                                          <a href="/index.html">
                                            <img src="/images/logo-rss-2021.png" alt="Reiseservice Schwerin GmbH" border="0" height="55" width="55">
                                          </a>
                                        </p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td colspan="2">
                                        <p class="st2">
                                          Email: <a href="mailto:info@reiseservice-schwerin.de">info@reiseservice-schwerin.de</a>
                                        </p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <p class="st2">
                                          Tel: 0385 / 5910333<br>
                                          Fax: 0385 / 5910331
                                        </p>
                                      </td>

<!-- +++++++++++++++++++++++++++++++++++++ Impressum +++++++++++++++++++++++++++++++++++++ -->
                  									  <td align="right">
                                        <span class="st2-table">
                                          <a href="/impressum.html"><i>Impressum&nbsp;/&nbsp;Haftungsausschlu&szlig;</i></a><br />
                                          <a href="/datenschutz.html"><i>Datenschutz</i></a>
                                        </span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </center>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>
