{% load static %}
<footer class="FOOTER u-align-center u-clearfix u-container-align-center u-footer u-palette-1-base u-footer" id="footer">
 <div class="u-clearfix u-sheet u-sheet-1">
  <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
   <div class="u-layout">
    <div class="u-layout-row">
     <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
      <div class="u-container-layout u-container-layout-1">
       <div class="u-clearfix u-expanded-width u-group-elements u-group-elements-1">
        <p class="u-text u-text-default u-text-1">
         Impressum
        </p>
        <div class="u-border-1 u-border-palette-1-light-3 u-expanded-width u-shape u-shape-bottom u-shape-left u-shape-line u-shape-right u-shape-1">
        </div>
        <p class="u-text u-text-default u-text-2">
         Datenschutz
        </p>
        <div class="u-border-1 u-border-palette-1-light-3 u-expanded-width u-shape u-shape-bottom u-shape-left u-shape-line u-shape-right u-shape-2">
        </div>
        <p class="u-text u-text-default u-text-3">
         Reisebedingungen
        </p>
       </div>
      </div>
     </div>
     <div class="u-container-style u-layout-cell u-shape-rectangle u-size-20 u-layout-cell-2">
      <div class="u-container-layout u-container-layout-2">
       <p class="u-text u-text-4">
        <span style="font-weight: 700;">
         Reiseservice Schwerin GmbH
        </span>
        <br/>
        Klöresgang 1, 19053 Schwerin
        <br/>
        Tel: 03 85 - 59 10 333
        <br/>
        Fax: 03 85 - 59 10 331
       </p>
       <p class="u-text u-text-5">
        <span style="font-weight: 700;">
         Öffnungszeiten:
        </span>
        <br/>
        Mo.-Fr. 10:00 - 18:00 Uhr
       </p>
      </div>
     </div>
     <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
      <div class="u-container-layout u-container-layout-3">
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</footer>
