{% load static %}
<section class="HEADER skrollable u-clearfix u-section-1" id="header">
 <img class="HEADER_BILD u-absolute-hcenter u-expanded u-image u-image-1" data-image-height="965" data-image-width="2048" src="{% static 'home/images/Header-Startseite.jpg' %}"/>
 <h1 class="HEADER_HEADLINE u-align-center u-text u-text-default u-text-white u-text-1">
  Gutes Reisen ist Vertrauenssache
 </h1>
 <div class="HEADER_TEASER custom-expanded u-list u-list-1">
  <div class="u-repeater u-repeater-1">
   <div class="u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-1" data-animation-delay="0" data-animation-duration="1000" data-animation-name="customAnimationIn" data-href="mehrtagesfahrten" data-page-id="41807491" title="Mehrtagesfahrten">
    <div class="u-container-layout u-similar-container u-container-layout-1">
     <h2 class="HEADER_TEASER_HEADLINE u-align-left u-text u-text-2">
      Mehrtagesfahrten
     </h2>
     <img alt="" class="HEADER_TEASER_BILD u-expanded-width u-image u-image-default u-image-2" data-image-height="1080" data-image-width="1920" src="{% static 'home/images/header_Reisen.jpg' %}"/>
     <p class="HEADER_TEASER_FLIESS u-align-left u-text u-text-body-alt-color u-text-3">
      Beispiel normaler Text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
      <span style="font-style: italic;">
       weiter
      </span>
      ...
     </p>
    </div>
   </div>
   <div class="u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-2" data-animation-delay="0" data-animation-duration="1000" data-animation-name="customAnimationIn">
    <div class="u-container-layout u-similar-container u-container-layout-2">
     <h2 class="HEADER_TEASER_HEADLINE u-align-left u-text u-text-4">
      Tagesfahrten
     </h2>
     <img alt="" class="HEADER_TEASER_BILD u-expanded-width u-image u-image-default u-image-3" data-image-height="1960" data-image-width="4032" src="{% static 'home/images/20190630_200221.jpg' %}"/>
     <p class="HEADER_TEASER_FLIESS u-align-left u-text u-text-body-alt-color u-text-5">
      Beispieltext. Klicke, um das Textelement auszuwählen.
     </p>
    </div>
   </div>
   <div class="u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-3" data-animation-delay="0" data-animation-duration="1000" data-animation-name="customAnimationIn">
    <div class="u-container-layout u-similar-container u-container-layout-3">
     <h2 class="HEADER_TEASER_HEADLINE u-align-left u-text u-text-6">
      Musicals
     </h2>
     <img alt="" class="HEADER_TEASER_BILD u-expanded-width u-image u-image-default u-image-4" data-image-height="3333" data-image-width="5000" src="{% static 'home/images/BLINDED-by-DELIGHT_print.jpg' %}"/>
     <p class="HEADER_TEASER_FLIESS u-align-left u-text u-text-body-alt-color u-text-7">
      Beispieltext. Klicke, um das Textelement auszuwählen.
     </p>
    </div>
   </div>
  </div>
 </div>
</section>
