{% load static %}
<header class="NAVIGATION u-align-center-sm u-align-center-xs u-clearfix u-header u-header" id="navigation">
 <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
  <a class="u-image u-logo u-image-1" data-image-height="1182" data-image-width="1182" href="#">
   <img class="u-logo-image u-logo-image-1" src="{% static 'home/images/LogoRSS2021_LogoGold.png' %}"/>
  </a>
  <div class="u-hidden-sm u-hidden-xs u-social-icons u-social-icons-1">
   <a class="u-social-url" href="" target="_blank" title="facebook">
    <span class="u-icon u-social-facebook u-social-icon u-text-palette-1-base u-icon-1">
     <svg class="u-svg-link" preserveaspectratio="xMidYMin slice" style="" viewbox="0 0 112 112">
      <use xlink:href="#svg-a812">
      </use>
     </svg>
     <svg class="u-svg-content" id="svg-a812" viewbox="0 0 112 112" x="0" y="0">
      <circle cx="56.1" cy="56.1" fill="currentColor" r="55">
      </circle>
      <path d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
      c0-6.7,3.1-17,17-17h12.5v13.9H73.5z" fill="#FFFFFF">
      </path>
     </svg>
    </span>
   </a>
   <a class="u-social-url" href="" target="_blank" title="instagram">
    <span class="u-icon u-social-icon u-social-instagram u-text-palette-1-base u-icon-2">
     <svg class="u-svg-link" preserveaspectratio="xMidYMin slice" style="" viewbox="0 0 112 112">
      <use xlink:href="#svg-4607">
      </use>
     </svg>
     <svg class="u-svg-content" id="svg-4607" viewbox="0 0 112 112" x="0" y="0">
      <circle cx="56.1" cy="56.1" fill="currentColor" r="55">
      </circle>
      <path d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
      z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z" fill="#FFFFFF">
      </path>
      <path d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z" fill="#FFFFFF">
      </path>
      <path d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
      C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
      c5.5,0,9.9,4.5,9.9,9.9V73.3z" fill="#FFFFFF">
      </path>
     </svg>
    </span>
   </a>
  </div>
  <nav class="u-align-left u-dropdown-icon u-menu u-menu-dropdown u-offcanvas u-menu-1" data-submenu-level="on-click" role="navigation">
   <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 500;">
    <a aria-controls="5761" aria-label="Open menu" class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-hamburger-link u-nav-link u-hamburger-link-1" href="#" tabindex="-1">
     <svg class="u-svg-link" preserveaspectratio="xMidYMin slice" style="" viewbox="0 0 302 302">
      <use xlink:href="#svg-8a8f" xmlns:xlink="http://www.w3.org/1999/xlink">
      </use>
     </svg>
     <svg class="u-svg-content" id="svg-8a8f" style="enable-background:new 0 0 302 302;" version="1.1" viewbox="0 0 302 302" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
      <g>
       <rect height="30" width="302" y="36">
       </rect>
       <rect height="30" width="302" y="236">
       </rect>
       <rect height="30" width="302" y="136">
       </rect>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
     </svg>
    </a>
   </div>
   <div class="u-custom-menu u-nav-container">
    <ul class="menu u-nav u-spacing-2 u-unstyled u-nav-1" role="menubar">
     <li class="u-nav-item" role="none">
      <a class="u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-1-base u-text-palette-1-base u-nav-link-2" href="/" role="menuitem">
       Startseite
      </a>
     </li>
     <li class="u-nav-item" role="none">
      <a aria-haspopup="true" class="u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-1-base u-text-palette-1-base u-nav-link-2" role="menuitem" tabindex="-1">
       Unsere Fahrten
      </a>
      <div class="u-nav-popup">
       <ul aria-label="Unsere Fahrten menu" class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2" role="menu">
        <li class="u-nav-item" role="none">
         <a class="u-active-palette-2-light-2 u-button-style u-hover-palette-2-light-2 u-nav-link u-text-active-palette-2-base u-text-hover-palette-1-dark-3 u-text-palette-1-base u-white" href="mehrtagesfahrten" role="menuitem">
          Mehrtagesfahrten
         </a>
        </li>
        <li class="u-nav-item" role="none">
         <a class="u-active-palette-2-light-2 u-button-style u-hover-palette-2-light-2 u-nav-link u-text-active-palette-2-base u-text-hover-palette-1-dark-3 u-text-palette-1-base u-white" role="menuitem" tabindex="-1">
          Tagesfahrten
         </a>
        </li>
        <li class="u-nav-item" role="none">
         <a class="u-active-palette-2-light-2 u-button-style u-hover-palette-2-light-2 u-nav-link u-text-active-palette-2-base u-text-hover-palette-1-dark-3 u-text-palette-1-base u-white" role="menuitem" tabindex="-1">
          Busreisen
         </a>
        </li>
        <li class="u-nav-item" role="none">
         <a class="u-active-palette-2-light-2 u-button-style u-hover-palette-2-light-2 u-nav-link u-text-active-palette-2-base u-text-hover-palette-1-dark-3 u-text-palette-1-base u-white" role="menuitem" tabindex="-1">
          Flugreisen
         </a>
        </li>
        <li class="u-nav-item" role="none">
         <a class="u-active-palette-2-light-2 u-button-style u-hover-palette-2-light-2 u-nav-link u-text-active-palette-2-base u-text-hover-palette-1-dark-3 u-text-palette-1-base u-white" role="menuitem" tabindex="-1">
          Schiffsreisen
         </a>
        </li>
        <li class="u-nav-item" role="none">
         <a class="u-active-palette-2-light-2 u-button-style u-hover-palette-2-light-2 u-nav-link u-text-active-palette-2-base u-text-hover-palette-1-dark-3 u-text-palette-1-base u-white" role="menuitem" tabindex="-1">
          Musicals
         </a>
        </li>
        <li class="u-nav-item" role="none">
         <a class="u-active-palette-2-light-2 u-button-style u-hover-palette-2-light-2 u-nav-link u-text-active-palette-2-base u-text-hover-palette-1-dark-3 u-text-palette-1-base u-white" role="menuitem" tabindex="-1">
          Pauschalreisen
         </a>
        </li>
       </ul>
      </div>
     </li>
     <li class="u-nav-item" role="none">
      <a class="u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-1-base u-text-palette-1-base u-nav-link-2" href="/unterseiten/Kontakt.html" role="menuitem">
       Service &amp; Kontakt
      </a>
      <div class="u-nav-popup">
       <ul aria-label="Service &amp; Kontakt menu" class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-3" role="menu">
        <li class="u-nav-item" role="none">
         <a class="u-active-palette-2-light-2 u-button-style u-hover-palette-2-light-2 u-nav-link u-text-active-palette-2-base u-text-hover-palette-1-dark-3 u-text-palette-1-base u-white" href="/unterseiten/Wir.html" role="menuitem">
          Wir
         </a>
        </li>
        <li class="u-nav-item" role="none">
         <a class="u-active-palette-2-light-2 u-button-style u-hover-palette-2-light-2 u-nav-link u-text-active-palette-2-base u-text-hover-palette-1-dark-3 u-text-palette-1-base u-white" role="menuitem" tabindex="-1">
          Kontakt
         </a>
        </li>
        <li class="u-nav-item" role="none">
         <a class="u-active-palette-2-light-2 u-button-style u-hover-palette-2-light-2 u-nav-link u-text-active-palette-2-base u-text-hover-palette-1-dark-3 u-text-palette-1-base u-white" role="menuitem" tabindex="-1">
          Service
         </a>
        </li>
        <li class="u-nav-item" role="none">
         <a class="u-active-palette-2-light-2 u-button-style u-hover-palette-2-light-2 u-nav-link u-text-active-palette-2-base u-text-hover-palette-1-dark-3 u-text-palette-1-base u-white" role="menuitem" tabindex="-1">
          Gutscheine
         </a>
        </li>
       </ul>
      </div>
     </li>
    </ul>
   </div>
   <div aria-label="Menu panel" class="u-custom-menu u-nav-container-collapse" id="5761" role="region">
    <div class="u-align-center u-container-align-center u-container-align-left u-container-style u-inner-container-layout u-opacity u-opacity-95 u-palette-1-base u-sidenav">
     <div class="u-inner-container-layout u-sidenav-overflow">
      <div aria-label="Close menu" class="u-menu-close" tabindex="-1">
      </div>
      <ul class="u-align-left u-nav u-popupmenu-items u-unstyled u-nav-4" role="menubar">
       <li class="u-nav-item" role="none">
        <a class="u-button-style u-nav-link" href="/" role="menuitem">
         Startseite
        </a>
       </li>
       <li class="u-nav-item" role="none">
        <a aria-haspopup="true" class="u-button-style u-nav-link" role="menuitem" tabindex="-1">
         Unsere Fahrten
        </a>
        <div class="u-nav-popup">
         <ul aria-label="Unsere Fahrten menu" class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-5" role="menu">
          <li class="u-nav-item" role="none">
           <a class="u-button-style u-nav-link" href="mehrtagesfahrten" role="menuitem">
            Mehrtagesfahrten
           </a>
          </li>
          <li class="u-nav-item" role="none">
           <a class="u-button-style u-nav-link" role="menuitem" tabindex="-1">
            Tagesfahrten
           </a>
          </li>
          <li class="u-nav-item" role="none">
           <a class="u-button-style u-nav-link" role="menuitem" tabindex="-1">
            Busreisen
           </a>
          </li>
          <li class="u-nav-item" role="none">
           <a class="u-button-style u-nav-link" role="menuitem" tabindex="-1">
            Flugreisen
           </a>
          </li>
          <li class="u-nav-item" role="none">
           <a class="u-button-style u-nav-link" role="menuitem" tabindex="-1">
            Schiffsreisen
           </a>
          </li>
          <li class="u-nav-item" role="none">
           <a class="u-button-style u-nav-link" role="menuitem" tabindex="-1">
            Musicals
           </a>
          </li>
          <li class="u-nav-item" role="none">
           <a class="u-button-style u-nav-link" role="menuitem" tabindex="-1">
            Pauschalreisen
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="u-nav-item" role="none">
        <a class="u-button-style u-nav-link" href="/unterseiten/Kontakt.html" role="menuitem">
         Service &amp; Kontakt
        </a>
        <div class="u-nav-popup">
         <ul aria-label="Service &amp; Kontakt menu" class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-6" role="menu">
          <li class="u-nav-item" role="none">
           <a class="u-button-style u-nav-link" href="/unterseiten/Wir.html" role="menuitem">
            Wir
           </a>
          </li>
          <li class="u-nav-item" role="none">
           <a class="u-button-style u-nav-link" role="menuitem" tabindex="-1">
            Kontakt
           </a>
          </li>
          <li class="u-nav-item" role="none">
           <a class="u-button-style u-nav-link" role="menuitem" tabindex="-1">
            Service
           </a>
          </li>
          <li class="u-nav-item" role="none">
           <a class="u-button-style u-nav-link" role="menuitem" tabindex="-1">
            Gutscheine
           </a>
          </li>
         </ul>
        </div>
       </li>
      </ul>
     </div>
    </div>
    <div class="u-menu-overlay u-opacity u-opacity-70 u-palette-1-base">
    </div>
   </div>
  </nav>
  <a class="u-active-none u-btn u-btn-rectangle u-button-style u-hidden-sm u-hidden-xs u-hover-none u-none u-text-palette-1-base u-btn-1" href="tel:03855910333">
   <span class="u-icon">
    <svg class="u-svg-content" style="width: 1em; height: 1em;" viewbox="0 0 405.333 405.333" x="0px" y="0px">
     <path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z">
     </path>
    </svg>
   </span>
   03 85 - 59 10 333
  </a>
 </div>
</header>
