{% load static %}
<section class="NEWS u-clearfix u-palette-1-base u-section-2" id="news">
 <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
  <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
   <div class="u-layout">
    <div class="u-layout-row">
     <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
      <div class="u-container-layout u-container-layout-1">
       <img class="NEWS_BILD u-expanded-height-xl u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-1" data-image-height="2250" data-image-width="3000" src="{% static 'home/images/Titelbild_2026.jpg' %}"/>
      </div>
     </div>
     <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
      <div class="u-container-layout u-container-layout-2">
       <h2 class="NEWS_SUBLINE u-text u-text-default u-text-1">
        Aktuell
       </h2>
       <h3 class="NEWS_HEADLINE u-text u-text-default u-text-2">
        Der neue Katalog
       </h3>
       <p class="NEWS_FLIESS u-text u-text-3">
        das Reisejahr 2025 klingt aus - und mit unserem neuen Katalog
        <br/>
        „Reiseträume 2026“ laden wir Sie herzlich ein, gemeinsam mit uns
        <br/>
        neue Urlaubsideen zu entdecken! Auch in diesem Jahr haben wir
        <br/>
        für Sie eine bunte Mischung aus bewährten Klassikern, spannenden
        <br/>
        Neuheiten und exklusiven Erlebnissen zusammengestellt.
       </p>
       <a class="NEWS_BUTTON u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-light-2 u-palette-2-light-1 u-radius u-btn-1" href="media/kataloge/2026/sommerkatalog_2026.pdf">
        PDF laden
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
