{% load static %}
{% load home_tags %}

<section class="REISE u-clearfix u-section-4" id="reisen">
 <div class="u-clearfix u-sheet u-sheet-1">
  <div class="u-clearfix u-custom-html u-expanded-width u-custom-html-1">
   <!-- STARTREISEBLOCK -->
  </div>
  <div class="REISE_UEBERSICHT u-expanded-width u-list u-list-1">
   <div class="u-repeater u-repeater-1">
    
<!-- Reiseschleife -->

    {% for reise in reisen %}

    <div class="u-border-1 u-border-grey-50 u-container-style u-list-item u-repeater-item u-shape-rectangle">
     <div class="u-container-layout u-similar-container u-container-layout-1">
<!-- FLAGGEN -->
      {% for zielregion in reise.zielregionen %}
        {% if zielregion.name != "Europa" and zielregion.name != "Nordeuropa" and zielregion.name != "Asien" and zielregion.name != "Afrika" and zielregion.name != "Britische Inseln" and zielregion.name != "Benelux" and zielregion.name != "Balkan" and " / " not in zielregion.name and "web" not in zielregion.name and zielregion.name != "Madeira" and zielregion.name != "Oesterreich" and zielregion.name != "Daenemark" and zielregion.name != "Tuerkei" and zielregion.name != "Grossbritannien" and zielregion.name != "Rumaenien" %}
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-1" data-image-height="59" data-image-width="94" src="{% static 'home/images/Flagge/' %}{{reise.reisezielregionen__zielregion_id__name|land}}.jpg"/>
        {% endif %}
        {% if zielregion.name == "Daenemark" %}
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-1" data-image-height="59" data-image-width="94" src="{% static 'home/images/Flagge/' %}Dänemark.jpg"/>
        {% endif %}
        {% if zielregion.name == "Oesterreich" %}
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-1" data-image-height="59" data-image-width="94" src="{% static 'home/images/Flagge/' %}Österreich.jpg"/>
        {% endif %}{% if zielregion.name == "Tuerkei" %}
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-1" data-image-height="59" data-image-width="94" src="{% static 'home/images/Flagge/' %}Türkei.jpg"/>
        {% endif %}{% if zielregion.name == "webItalien" %}
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-1" data-image-height="59" data-image-width="94" src="{% static 'home/images/Flagge/' %}Italien.jpg"/>
        {% endif %}
        {% if zielregion.name == "webDeutschland" %}
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-1" data-image-height="59" data-image-width="94" src="{% static 'home/images/Flagge/' %}Deutschland.jpg"/>
        {% endif %}
        {% if zielregion.name == "Grossbritannien" %}
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-1" data-image-height="59" data-image-width="94" src="{% static 'home/images/Flagge/' %}Großbritannien.jpg"/>
        {% endif %}
        {% if zielregion.name == "Rumaenien" %}
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-1" data-image-height="59" data-image-width="94" src="{% static 'home/images/Flagge/' %}Rumänien.jpg"/>
        {% endif %}
      {% endfor %}
<!-- BALKEN -->
      <div class="BALKEN_{{ reise.reisetyp|ohnetage }} u-container-style u-expanded-width u-group u-palette-3-base u-group-1">
       <div class="u-container-layout u-container-layout-2">
<!-- REISETYP -->
        <img alt="" class="RUBRIK custom-expanded u-image u-image-default u-preserve-proportions u-image-2" data-image-height="150" data-image-width="150" src="{% static 'home/images/' %}{{reise.reisetyp|ohnetageklein}}.svg"/>
        <p class="REISETYP u-text u-text-default u-text-1">
         {{ reise.reisetyp|mittageklein }}
        </p>
        <p class="REISETERMINE u-text u-text-default u-text-2">
         {{ reise.reisetermine__datum_beginn|date:'d. m.' }} - {{ reise.reisetermine__datum_ende|date:'d. m. Y' }}
        </p>
       </div>
      </div>
      <img alt="" class="BILD u-expanded-width u-image u-image-default u-image-3" data-image-height="1125" data-image-width="1500" src="{% static 'home/images/FMS_Markkleeberg_2025.jpg' %}"/>
      <h3 class="REISETITEL u-text u-text-default u-text-palette-2-dark-1 u-text-3">
       {{ reise.titel }}
      </h3>
      <p class="REISEUNTERTITEL u-text u-text-default u-text-4">
       {{ reise.untertitel }}
       <br/>
      </p>
      <a class="BETRAG u-align-right u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-light-2 u-palette-2-light-1 u-radius u-btn-1" href="detail/{{ reise.reiseID|ohneminus }}">
       ab {{ reise.reisepreise__preis }} €
      </a>
     </div>
    </div>

    {% endfor %}

   </div>
  </div>
  <div class="u-clearfix u-custom-html u-expanded-width u-custom-html-2">
   <!-- ENDEREISEBLOCK -->
  </div>
 </div>
</section>
