{% load static %}
<section class="REISE u-clearfix u-section-4" id="reisen">
 <div class="u-clearfix u-sheet u-sheet-1">
  <div class="u-clearfix u-custom-html u-expanded-width u-custom-html-1">
   <!-- STARTREISEBLOCK -->
  </div>
  <div class="REISE_UEBERSICHT u-expanded-width u-list u-list-1">
   <div class="u-repeater u-repeater-1">

    <div class="u-border-1 u-border-grey-50 u-container-style u-list-item u-repeater-item u-shape-rectangle">
     <div class="u-container-layout u-similar-container u-container-layout-1">
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-1" data-image-height="59" data-image-width="94" src="{% static 'home/images/Deutschland.jpg' %}"/>
      <div class="BALKEN_BUSREISE u-container-style u-expanded-width u-group u-palette-3-base u-group-1">
       <div class="u-container-layout u-container-layout-2">
        <img alt="" class="RUBRIK custom-expanded u-image u-image-default u-preserve-proportions u-image-2" data-image-height="150" data-image-width="150" src="{% static 'home/images/BUSREISE.svg' %}"/>
        <p class="REISETYP u-text u-text-default u-text-1">
         4 Tage Busreise
        </p>
        <p class="REISETERMINE u-text u-text-default u-text-2">
         03. 04. - 06. 04. 2026
        </p>
       </div>
      </div>
      <img alt="" class="BILD u-expanded-width u-image u-image-default u-image-3" data-image-height="1125" data-image-width="1500" src="{% static 'home/images/FMS_Markkleeberg_2025.jpg' %}"/>
      <h3 class="REISETITEL u-text u-text-default u-text-palette-2-dark-1 u-text-3">
       Leipziger Ostergeflüster
      </h3>
      <p class="REISEUNTERTITEL u-text u-text-default u-text-4">
       Ostermarkt · Thomaner · Kaffeeschifffahrt · Orgelkonzert
       <br/>
      </p>
      <a class="BETRAG u-align-right u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-light-2 u-palette-2-light-1 u-radius u-btn-1" href="">
       ab 640 €
      </a>
     </div>
    </div>
    
    <div class="u-border-1 u-border-grey-50 u-container-style u-list-item u-repeater-item u-shape-rectangle">
     <div class="u-container-layout u-similar-container u-container-layout-3">
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-4" data-image-height="59" data-image-width="94" src="{% static 'home/images/Deutschland.jpg' %}"/>
      <div class="BALKEN_BUSREISE u-container-style u-expanded-width u-group u-palette-3-base u-group-2">
       <div class="u-container-layout u-container-layout-4">
        <img alt="" class="RUBRIK custom-expanded u-image u-image-default u-preserve-proportions u-image-5" data-image-height="150" data-image-width="150" src="{% static 'home/images/BUSREISE.svg' %}"/>
        <p class="REISETYP u-text u-text-default u-text-5">
         4 Tage Busreise
        </p>
        <p class="REISETERMINE u-text u-text-default u-text-6">
         Beispieltext.
        </p>
       </div>
      </div>
      <img alt="" class="u-expanded-width u-image u-image-default u-image-6" data-image-height="1125" data-image-width="1500" src="{% static 'home/images/FMS_Markkleeberg_2025.jpg' %}"/>
      <h3 class="REISETITEL u-text u-text-default u-text-palette-2-dark-1 u-text-7">
       Beispielüberschrift
      </h3>
      <p class="REISEUNTERTITEL u-text u-text-default u-text-8">
       Beispieltext. Klicke, um das Textelement auszuwählen.
      </p>
      <a class="BETRAG u-align-right u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-light-2 u-palette-2-light-1 u-radius u-btn-2" href="">
       Button
      </a>
     </div>
    </div>
    <div class="u-border-1 u-border-grey-50 u-container-style u-list-item u-repeater-item u-shape-rectangle">
     <div class="u-container-layout u-similar-container u-container-layout-5">
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-7" data-image-height="59" data-image-width="94" src="{% static 'home/images/Deutschland.jpg' %}"/>
      <div class="u-container-style u-expanded-width u-group u-palette-3-base u-group-3">
       <div class="u-container-layout u-container-layout-6">
        <img alt="" class="RUBRIK custom-expanded u-image u-image-default u-preserve-proportions u-image-8" data-image-height="150" data-image-width="150" src="{% static 'home/images/BUSREISE.svg' %}"/>
        <p class="REISETYP u-text u-text-default u-text-9">
         4 Tage Busreise
        </p>
        <p class="REISETERMINE u-text u-text-default u-text-10">
         Beispieltext.
        </p>
       </div>
      </div>
      <img alt="" class="u-expanded-width u-image u-image-default u-image-9" data-image-height="1125" data-image-width="1500" src="{% static 'home/images/FMS_Markkleeberg_2025.jpg' %}"/>
      <h3 class="REISETITEL u-text u-text-default u-text-palette-2-dark-1 u-text-11">
       Beispielüberschrift
      </h3>
      <p class="REISEUNTERTITEL u-text u-text-default u-text-12">
       Beispieltext. Klicke, um das Textelement auszuwählen.
      </p>
      <a class="BETRAG u-align-right u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-light-2 u-palette-2-light-1 u-radius u-btn-3" href="">
       Button
      </a>
     </div>
    </div>
    <div class="u-border-1 u-border-grey-50 u-container-style u-list-item u-repeater-item u-shape-rectangle">
     <div class="u-container-layout u-similar-container u-container-layout-7">
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-10" data-image-height="59" data-image-width="94" src="{% static 'home/images/Deutschland.jpg' %}"/>
      <div class="u-container-style u-expanded-width u-group u-palette-3-base u-group-4">
       <div class="u-container-layout u-container-layout-8">
        <img alt="" class="RUBRIK custom-expanded u-image u-image-default u-preserve-proportions u-image-11" data-image-height="150" data-image-width="150" src="{% static 'home/images/BUSREISE.svg' %}"/>
        <p class="REISETYP u-text u-text-default u-text-13">
         4 Tage Busreise
        </p>
        <p class="REISETERMINE u-text u-text-default u-text-14">
         Beispieltext.
        </p>
       </div>
      </div>
      <img alt="" class="u-expanded-width u-image u-image-default u-image-12" data-image-height="1125" data-image-width="1500" src="{% static 'home/images/FMS_Markkleeberg_2025.jpg' %}"/>
      <h3 class="REISETITEL u-text u-text-default u-text-palette-2-dark-1 u-text-15">
       Beispielüberschrift
      </h3>
      <p class="REISEUNTERTITEL u-text u-text-default u-text-16">
       Beispieltext. Klicke, um das Textelement auszuwählen.
      </p>
      <a class="BETRAG u-align-right u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-light-2 u-palette-2-light-1 u-radius u-btn-4" href="">
       Button
      </a>
     </div>
    </div>
    <div class="u-border-1 u-border-grey-50 u-container-style u-list-item u-repeater-item u-shape-rectangle">
     <div class="u-container-layout u-similar-container u-container-layout-9">
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-13" data-image-height="59" data-image-width="94" src="{% static 'home/images/Deutschland.jpg' %}"/>
      <div class="u-container-style u-expanded-width u-group u-palette-3-base u-group-5">
       <div class="u-container-layout u-container-layout-10">
        <img alt="" class="RUBRIK custom-expanded u-image u-image-default u-preserve-proportions u-image-14" data-image-height="150" data-image-width="150" src="{% static 'home/images/BUSREISE.svg' %}"/>
        <p class="REISETYP u-text u-text-default u-text-17">
         4 Tage Busreise
        </p>
        <p class="REISETERMINE u-text u-text-default u-text-18">
         Beispieltext.
        </p>
       </div>
      </div>
      <img alt="" class="u-expanded-width u-image u-image-default u-image-15" data-image-height="1125" data-image-width="1500" src="{% static 'home/images/FMS_Markkleeberg_2025.jpg' %}"/>
      <h3 class="REISETITEL u-text u-text-default u-text-palette-2-dark-1 u-text-19">
       Beispielüberschrift
      </h3>
      <p class="REISEUNTERTITEL u-text u-text-default u-text-20">
       Beispieltext. Klicke, um das Textelement auszuwählen.
      </p>
      <a class="BETRAG u-align-right u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-light-2 u-palette-2-light-1 u-radius u-btn-5" href="">
       Button
      </a>
     </div>
    </div>
    <div class="u-border-1 u-border-grey-50 u-container-style u-list-item u-repeater-item u-shape-rectangle">
     <div class="u-container-layout u-similar-container u-container-layout-11">
      <img alt="" class="FLAGGE u-image u-image-default u-preserve-proportions u-image-16" data-image-height="59" data-image-width="94" src="{% static 'home/images/Deutschland.jpg' %}"/>
      <div class="u-container-style u-expanded-width u-group u-palette-3-base u-group-6">
       <div class="u-container-layout u-container-layout-12">
        <img alt="" class="RUBRIK custom-expanded u-image u-image-default u-preserve-proportions u-image-17" data-image-height="150" data-image-width="150" src="{% static 'home/images/BUSREISE.svg' %}"/>
        <p class="REISETYP u-text u-text-default u-text-21">
         4 Tage Busreise
        </p>
        <p class="REISETERMINE u-text u-text-default u-text-22">
         Beispieltext.
        </p>
       </div>
      </div>
      <img alt="" class="u-expanded-width u-image u-image-default u-image-18" data-image-height="1125" data-image-width="1500" src="{% static 'home/images/FMS_Markkleeberg_2025.jpg' %}"/>
      <h3 class="REISETITEL u-text u-text-default u-text-palette-2-dark-1 u-text-23">
       Beispielüberschrift
      </h3>
      <p class="REISEUNTERTITEL u-text u-text-default u-text-24">
       Beispieltext. Klicke, um das Textelement auszuwählen.
      </p>
      <a class="BETRAG u-align-right u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-light-2 u-palette-2-light-1 u-radius u-btn-6" href="">
       Button
      </a>
     </div>
    </div>
   </div>
  </div>
  <div class="u-clearfix u-custom-html u-expanded-width u-custom-html-2">
   <!-- ENDEREISEBLOCK -->
  </div>
 </div>
</section>
