{% load static %}
<header class="Header u-align-center-sm u-align-center-xs u-clearfix u-header u-header" id="menu">
  <div class="u-clearfix u-sheet u-valign-middle-sm u-sheet-1">
    <a href="/" class="u-image u-logo u-image-1">
      <img src="{% static 'images/LogoRSS2021_LogoGold.png' %}" class="u-logo-image u-logo-image-1">
    </a>
    
    <nav class="u-align-left u-dropdown-icon u-menu u-menu-dropdown u-offcanvas u-menu-1">
       </nav>

    <a href="tel:03855910333" class="u-active-none u-btn u-button-style u-hidden-sm u-hidden-xs u-text-palette-1-base u-btn-1">
      03 85 - 59 10 333
    </a>
  </div>
</header>